{% set countNat = 0 %}
{% set countInter = 0 %}

{% for supplier in suppliers %}
	{% if supplier.tipo_provedor == 'NACIONAL' %}
			{% set countNat = countNat + 1 %}
		{% endif %}
	{% endfor %}

{% set countInter = count - countNat %}

<div class="proveedor">
  <div class="row">
    <div class="col-sm-3">
      <a href="{{ rute_url }}proveedor/nuevo/">
        <button class="btn btn-sm btn-default">
          <span class="fa fa-plus fa-fw"></span>
          Nuevo Proveedor
        </button>
      </a>
    </div>

        <div class="col-sm-2">
      <h5 class="text-primary"> <small>Total: </small> <span id="suma"> {{ count | number_format(0, '.', ',') }} Proveedores </span></h5>
    </div>
    <div class="col-sm-2">
      <h5 class="text-primary"> <small>Internacionales: </small> <span id="suma"> {{ countInter | number_format(0, '.', ',')}}</span></h5>
    </div>
    <div class="col-sm-2">
      <h5 class="text-danger"> <small>Nacionales: </small> <span id="suma">  {{ countNat | number_format(0, '.', ',') }} </span></h5>
    </div>
    <div class="col-sm-3">
      <form action="{{rute_url}}proveedor/buscar/" 
      method="POST" 
      class="form-inline" 
      role="form">
        <div class="form-group">
          <input 
          type="text" 
          name="searchCriteria" 
          class="form-control" 
          placeholder="Buscar"
          >
        </div>
       <button 
       type="submit"
       class="btn" >
        &nbsp;&nbsp;&nbsp;
       <span class="fa fa-search fa-fw"></span>
       &nbsp;&nbsp;&nbsp;
     </button>
      </form>
  
    </div>
  </div>
  <br>
  <div class="row">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr style="background-color: #c1c1c1;">
            <th>#</th>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Creado</th>
            <th>Actualizado</th>
            <th>Pedidos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for supplier in suppliers %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{supplier.identificacion_proveedor}}</td>
            <td>
               <a href="{{ rute_url }}proveedor/presentar/{{supplier.id_proveedor}}">
            {{supplier.nombre}}
          </a>
        </td>
            <td>{{supplier.tipo_provedor}}</td>
            <td>{{supplier.categoria}}</td>
            <td>{{supplier.date_create}} 
            <td>{{supplier.last_update}} 
              
            </td>
            
            <td class="text-right">{{0    | number_format(0, '.', ',')}}</td>
            <td>
              <div class="dropdown">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-default">
                <span class="fa fa-chevron-down" ></span>
                Seleccione
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li> <a href="{{rute_url}}proveedor/presentar/{{supplier.id_proveedor}}"> <span class="fa fa-eye fa-fw"></span>
                    Ver Proveedor </a>  
                  </li>
                  <li> <a href="{{rute_url}}proveedor/editar/{{supplier.id_proveedor}}">
                    <span class="fa fa-pencil fa-fw"></span>
                    Editar Proveedor</a> 
                  </li>
                  <li> <a href="{{rute_url}}proveedor/eliminar/{{supplier.id_proveedor}}">
                    <span class="fa fa-trash fa-fw"></span>
                    Elminar Proveedor</a> 
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<!--tabPedido-->