   <div class="row">
<div class="col-md-5">
<ol class="breadcrumb" style="color: #999;">
  <li class="{{ ubicacion.almacenera }}"> <span class="fa fa-fort-awesome"></span>Almacenera</li>
  <li class="{{ ubicacion.transporte }}"> <span class="fa fa-truck"></span> Transporte</li>
  <li class="{{ ubicacion.cordovez }}"> <span class="fa fa-home"></span> Cordovez</li>
</ol>
</div>
<div class="col-md-7 text-right">
	{% if parcial.bg_isliquidated == '0' %}
	<a href="{{rute_url}}gstnacionalizacion/parcial/{{parcial.id_parcial}}" class="btn btn-default btn-sm" >
				<span class="fa fa-gear"></span> Gastos Parcial
		</a>
		
		<a href="{{rute_url}}facturapagos/nuevo/{{order.nro_pedido}}" class="btn btn-default btn-sm">
				<span class="fa fa-file-o"></span> Justificar Gasto
		</a>
		<a href="{{rute_url}}parcial/eliminar/{{parcial.id_parcial}}" class="btn btn-sm btn-danger">
				<span class="fa fa-trash fa-fw"></span>Eliminar Parcial
		</a>
		{% endif %}
		</div>
	</div>
<!-- Tabs -->
<div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
      	<a href="#facturas" role="tab" data-toggle="tab" aria-controls="facturas">
      	<span class="fa fa-file"></span> Facturas Informativas Parcial
      	{% if parcial.bg_isclosed == '0' %}
         <span class="label label-success">Abierto</span>
         {% else %}
         <span class="label label-died">Cerrado</span>
         {% endif %}
      </a>
      </li>
   </ul>
   <br>
   <div class="tab-content">
      <!-- tabFacturas-->
      <div role="tabpanel" class="tab-pane active" id="facturas">
         {% include 'sections/subsections/tab-lista-facturas-informativas-parcial.html.twig' %}
      </div>
      <!-- /Tab Facturas-->
   </div>
</div>
<!--/tabs-->
<div class="row">
	<div class="col-md-2">
		<a href="{{rute_url}}pedido/presentar/{{ order.nro_pedido }}" class="btn btn-default btn-sm">
			<i class="fa fa-cubes"></i> Volver al Pedido [{{ order.nro_pedido }}]
		</a>
	</div>
</div>
