{% set fob = (order.valuesOrder.valInvoices) %}
{% set cif = (fob + order.valuesOrder.valSecureExpense + order.valuesOrder.valSecureExpense + order.valuesOrder.valShipExpnese)  %}
{% set nacionalizado = 0 %}
{% if order.bg_isclosed == 1 %}
	{% set nacionalizado = fob %}
{% endif %}
{% if order.regimen == 70  %}
	{% set nacionalizado = order.valuesOrder.infoInvoices  %}
{% endif %}

{% set justificado = 0 %}

{% for paid in paidsDetails %}
   {% set justificado = justificado + paid.valor %}
{% endfor %}
<div class="well well-sm">
   <div class="row">
      <div class="col-sm-3">
         <strong>Valor FOB Total:</strong> 
         <span class="text-primary">
         <strong>
         $ {{ fob | number_format(2, '.', ',') }}      
         </strong>
         </span>  
      </div>
      <div class="col-sm-3">
         <strong>
         FOB Nacionalizado:</strong> 
         <span class="text-primary">
         <strong>
         $ {{ nacionalizado | number_format(2, '.', ',') }}      
         </strong>
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         Valor FOB Saldo:</strong> 
         <span class="text-primary">
         <strong>
			${{ (fob - nacionalizado) | number_format(2, '.', ',') }}      
         </strong>
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         CIF Total:</strong>
         <span class="text-primary">   
         {{ (order.seguro_aduana + order.flete_aduana) |  number_format(2, '.', ',') }}
         </span>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <strong>Tiempo Bodega:</strong> 
        <span>{{ warenHouseDays }} d&iacute;as</span>
      </div>
      <div class="col-sm-2">
         <strong>Provisiones:</strong> 
         <span class="text-warning">
         {{ order.valuesOrder.localExpenses | number_format(0, '.', ',') }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Justificado Fact</strong> 
         <span class="text-primary">
         {{ justificado | number_format(0, '.', ',') }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Saldo:</strong> 
         <span class="text-danger" style="font-weight: bold;">
         {{ (order.valuesOrder.localExpenses - justificado ) | number_format(0, '.', ',') }}
         </span>
      </div>
      <div class="col-sm-3">
         <strong>Puerto:</strong> <span> {{order.ciudad_origen}} / {{ order.pais_origen }} </span>
      </div>
   </div>
</div>
<div class="row">
<div class="col-md-5">
<ol class="breadcrumb" style="color: #111;">
  <li class="{{ ubicacion.buque }}"> <span class="fa fa-ship"></span> Buque</a></li>
  <li class="{{ ubicacion.puerto }}"> <span class="fa fa-simplybuilt"></span> Puerto</li>
  {% if order.regimen == 70 %}
  <li class="{{ ubicacion.transporte }}"> <span class="fa fa-truck"></span> Transporte</li>
  <li class="{{ ubicacion.almacenera }}"> <span class="fa fa-fort-awesome"></span>Almacenera</li>
  {% endif %}
  <li class="{{ ubicacion.cordovez }}"> <span class="fa fa-home"></span> Cordovez</li>
</ol>
</div>
<div class="col-md-7 text-right">
	{% if order.bg_isclosed == '0' %}
	{% if (order.bg_haveExpenses == 0) %}
	<a
			href="{{rute_url}}gstinicial/validargi/{{order.nro_pedido}}">
			<button type="button" class="btn btn-default btn-sm">
				<span class="fa fa-gear"></span> Gastos Iniciales
			</button>
		</a>
		
		<a href="{{rute_url}}pedido/editar/{{order.nro_pedido}}"
			class="text-primary">
			<button class="btn btn-default btn-sm">
				<span class="fa fa-pencil fa-fw"></span>Editar
			</button>
		</a>  
		<a
			href="{{rute_url}}pedidofactura/nuevo/{{ order.nro_pedido }}">
			<button class="btn btn-default btn-sm">
				<span class="fa fa-plus"></span> Agregar Productos
			</button>
		</a>
      {%  endif %}
		
		<a
			href="{{rute_url}}facturapagos/nuevo/{{order.nro_pedido}}">
			<button class="btn btn-default btn-sm">
				<span class="fa fa-file-o"></span> Justificar Gasto
			</button>
		</a>
		{% endif %}
		 <a
			href="http://localhost/cordovezapp/app/index.php/report/nuevo">
			<button class="btn btn-sm btn-default">
				<span class="fa fa-file-pdf-o"></span> Informe General
			</button>
		</a>
		{% if order.bg_isclosed == '0' %}
		
		<a
			href="{{rute_url}}pedido/eliminar/{{order.nro_pedido}}">
			<button class="btn btn-sm btn-danger">
				<span class="fa fa-trash fa-fw"></span>Elimnar
			</button>
		</a>
		{% endif %}
		</div>
	</div>
<!-- Tabs -->
<div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="#pedido" role="tab" data-toggle="tab" aria-controls="pedido">Detalle Pedido &nbsp;
         {% if order.bg_isclosed == '0' %}
         <span class="label label-success">Abierto</span>
         {% else %}
         <span class="label label-died">Cerrado</span>
         {% endif %}
         </a>
      </li>
      <li role="presentation"
      
      {% if (order.bg_haveExpenses == 0) %}
      class="active"
         {% endif %}       
      >
      	<a href="#facturas" role="tab" data-toggle="tab" aria-controls="facturas">
      	<span class="fa fa-file"></span> Facturas Productos</a>
      </li>
      <li role="presentation">
      	<a href="#gastos" role="tab" data-toggle="tab" aria-controls="gastos">
      		<span class="fa fa-list"></span> Gastos Iniciales
      	</a>
      </li>
      {% if order.regimen == 10 %}
      <li role="presentation">
      	<a href="#nacionalizaciones" role="tab" data-toggle="tab" aria-controls="nacionalizaciones">
      		<span class="fa fa-archive"></span> Gastos Nacionalizacion
      	</a>
      </li>
      {% else %}
      <li role="presentation"
      {% if (order.bg_haveExpenses == 1) %}
      class="active"
         {% endif %} 
      >
      	<a href="#facturas-informativas" role="tab" data-toggle="tab" aria-controls="facturas-informativas">
      		<span class="fa fa-list-ol"></span> Parciales del Pedido
      	</a>
      </li>
      {%  endif %}
      
      <li role="presentation">
      	<a href="#servicios" role="tab" data-toggle="tab" aria-controls="servicios">
      		<span class="fa fa-file-text-o"></span> Provisiones Justificadas
      	</a>
      </li>
            <li role="presentation">
         <a href="#saldos" role="tab" data-toggle="tab" aria-controls="saldos">
            <span class="fa fa-bar-chart-o"></span> Saldos Pedidos
         </a>
      </li>
   </ul>
   <br>
   <div class="tab-content">
      <!-- tabPedidoDetalle-->
      <div role="tabpanel" id="pedido" class="tab-pane">
         {% include 'sections/subsections/tab-detalle-pedido.html.twig' %}
      </div>
      <!-- /tabPedidoDetalle-->
      <!-- tabFacturas-->
      <div role="tabpanel" class="tab-pane 
       {% if (order.bg_haveExpenses == 0) %}
      active
      {%  endif %}
      " id="facturas">
         {% include 'sections/subsections/tab-facturas-productos-pedido.html.twig' %}            
      </div>
      <!-- /Tab Facturas-->
      <!-- Gastos iniciales -->
      <div role="tabpanel" class="tab-pane" id="gastos">
         {% include 'sections/subsections/tab-gastos-iniciales.html.twig' %}            
      </div>
      <!-- /Gastos iniciales -->
      
       {% if order.regimen == 10 %}
      <!-- factura Nacionalizaciones -->
      <div role="tabpanel" class="tab-pane" id="nacionalizaciones">
         {% include 'sections/subsections/tab-nacionalizaciones.html.twig' %}            
      </div>
      <!-- /factura Nacionalizaciones -->
     {% else %}
     <!-- factura Informativas -->
      <div role="tabpanel" class="tab-pane
      {% if (order.bg_haveExpenses == 1) %}
      active
      {%  endif %}
      " id="facturas-informativas">
         {% include 'sections/subsections/tab-facturas-informativas.html.twig' %}            
      </div>
      <!-- /factura Informativas -->
     {% endif %}
      
      <!-- Tab Facturas Servicios -->
      <div role="tabpanel" class="tab-pane" id="servicios">
         {% include 'sections/subsections/tab-facturas-servicios.html.twig' %}            
      </div>
      <!-- /Tab Facturas Servicios -->

      <!-- Tab Facturas Saldos -->
      <div role="tabpanel" class="tab-pane" id="saldos">
         {% include 'sections/subsections/tab-pedido-saldos.html.twig' %}            
      </div>
      <!-- /Tab Facturas Servicios -->

   </div>
</div>
<!--/tabs-->
