
    {% set simbolo = '$' %}
    {% if invoice.moneda == 'EUROS' %}
    {% set simbolo = '&euro;' %}
    {% endif %}

    {% set suma = 0 %}
    {% set unidades = 0 %}
    {% for detail in invoiceDetail %} 
    {% set unidades = unidades + detail.nro_cajas %}
    {% set suma = suma +  detail.total_item %}
    {% endfor %}
    {% set diferencia =  (invoice.valor - suma) | number_format(2) %}
    {% set nro_cajas = 0 %}
  
<h4 class="text-info">{{ supplier[0].nombre }}
  {% if diferencia != 0 %}
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <small class="text-danger"> <span class="fa fa-warning"></span> Completar El Detalle De La Factura</small>
  {% endif %}
</h4>
<div class="well well-sm">
   <div class="row">
      <div class="col-sm-3">
         <strong>Pedido:</strong> <span class="text-success">  {{invoice.nro_pedido}} </span>
      </div>
      <div class="col-sm-3">
         <strong>Nro Factura:</strong> <span class="text-danger">{{invoice.id_factura_proveedor}}</span>
      </div>
      <div class="col-sm-3">
         <strong>Fecha Emisión:</strong> <span class="text-info">
          {% if invoice.fecha_emision == null or invoice.fecha_emision == '0000-00-00' %}
          <a  href="{{ rute_url }}pedidofactura/editar/{{invoice.id_pedido_factura}}" >Registrar</a>
          {% else %}
            {{ invoice.fecha_emision | date('d/m/Y') }}
          {% endif %}
       </span>
      </div>
      <div class="col-sm-3">
         <strong>Vencimiento:</strong> <span>{{invoice.vencimiento_pago}}</span>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <strong>Moneda:</strong> <span>{{invoice.moneda}}</span>
      </div>
      <div class="col-sm-3">
         <strong>Tipo Cambio:</strong> <span>{{invoice.tipo_cambio}}</span>
      </div>
      <div class="col-sm-3">
         <strong>Valor:</strong> <span class="text-danger">
          {{ simbolo | raw}}
         {{invoice.valor | number_format(2,',','.')}}
       </span>
      </div>
      <div class="col-sm-3">
         <strong>Creado Por:</strong> <span>{{user.nombres}}</span>
      </div>
   </div>
</div>

<!--tabPedido-->
<div class="pedido">
  <div class="row">
<div class="col-sm-2">
{% if diferencia == 0 %}
    <h4 class="text-success"><span class="fa fa-check"></span>Factura Completa!</h4>

{% elseif diferencia < 0 %}
    <h4 class="text-danger" ><span class="fa fa-warning"></span> Factura Inválida, VALORES EXCEDIDOS</h4>  
{% else %}
      <a href="{{ rute_url }}detallepedido/nuevo/{{invoice.id_pedido_factura}}">
        <button class="btn btn-sm btn-default">
          <span class="fa fa-plus fa-fw"></span>
          Agregar Producto
        </button>
      </a>
{% endif %}
    </div>
  
    <div class="col-sm-4">
      &nbsp;
    </div>

    <div class="col-sm-2">
      <h5 class="text-primary"> <small>Nro Cajas: </small> <span id="suma"> {{ unidades | number_format(0, '.', ',') }} </span></h5>
    </div>
    <div class="col-sm-2">
      <h5 class="text-primary"> <small>Valor Reg: </small> <span id="suma"> {{ simbolo | raw}} {{ suma | number_format(2, '.', ',')}}</span></h5>
    </div>
    <div class="col-sm-2">
      <h5 class="text-danger"> <small>Diferencia: </small> <span id="suma"> {{ simbolo | raw}} {{ diferencia | number_format(2, '.', ',') }} </span></h5>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover table-striped">
        <thead>
          <tr style="background-color: #c1c1c1;">
            <th>#</th>
            <th>Nombre</th>
            <th>Ficha</th>
            <th>Grado A</th>
            <th>Nro Cajas</th>
            <th>Costo Caja</th>
            <th>Cant X Caja</th>
            <th>Unidades</th>
            <th>Costo Und</th>
            <th>Total</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for detail in invoiceDetail %}
          {% set nro_cajas = nro_cajas + detail.nro_cajas %}
          <tr>
            <td>{{ loop.index }}</td>
            <td> <a href="{{ rute_url }}detallepedido/editar/{{ detail.detalle_pedido_factura }}"> <span class="fa fa-pencil"></span> {{ detail.nombre }}</a></td>
            <td>  <a href="{{ rute_url }}producto/presentar/{{ detail.cod_contable }}" target="_blank"> <span class="fa fa-eye"></span> Ficha</a></td>
            <td class="text-right">{{ detail.grado_alcoholico }}</td>
            <td class="text-right">{{ detail.nro_cajas }}</td>
            <td class="text-right">{{ simbolo | raw}} {{ detail.costo_caja | number_format(6, '.', ',')}}</td>
            <td class="text-right">{{ detail.cantidad_x_caja | number_format(2, '.', ',')}}</td>
            <td class="text-right">{{ detail.unidades }}</td>
            <td class="text-right">{{ simbolo | raw}} {{ detail.costo_unidad | number_format(4, '.', ',') }}</td>
            <td class="text-right">{{ simbolo | raw}} {{ detail.total_item | number_format(2, '.', ',') }}</td>
            <td>
              <div class="dropdown">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="
                false" class="btn btn-sm btn-default"
                {% if order.bg_haveExpenses == 1 %}
                disabled="" 
                {% endif %}
                >
                <span class="fa fa-chevron-down" ></span>
                Seleccione
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li> <a href="{{rute_url}}detallepedido/editar/{{detail.detalle_pedido_factura}}">
                    <span class="fa fa-pencil fa-fw"></span>
                    Editar Producto</a> 
                  </li>
                  <li> <a href="{{rute_url}}detallepedido/eliminar/{{detail.detalle_pedido_factura}}">
                    <span class="fa fa-trash fa-fw"></span>
                    Elminar Producto</a> 
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          {% endfor %}
          <tr>
          <td></td>
          </tr>
          <tr style="background-color:#2E86C1; color:#fff; font-weight:bold;" style="padding:1px;">
            <td colspan="4" class="text-right">SUMAS: &nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="text-right">{{nro_cajas | number_format(0,',','.')}}</td>
            <td class="text-right">--</td>
            <td class="text-right">--</td>
            <td class="text-right">--</td>
            <td class="text-right">--</td>
            <td class="text-right">{{suma | number_format(2,',','.')}}</td>
            <td class="text-right"></td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-9">
      <a href="{{ rute_url }}pedido/presentar/{{invoice.nro_pedido}}" class="btn btn-default btn-sm">
        <span class="fa fa-arrow-left"></span>
        Volver al Pedido <b>[{{invoice.nro_pedido}}]</b>
      </a>
    </div>
    <div class="col-ms-3">
      <a class="btn btn-primary btn-sm"
{% if order.bg_haveExpenses == 1 %}
                disabled="" 
                {% else %}
                    href="{{ rute_url }}pedidofactura/editar/{{invoice.id_pedido_factura}}" 
                {% endif %}
      >
        <span class="fa fa-file-text-o fa-fw"></span>
        Editar Cabecera Factura <b>[{{invoice.id_factura_proveedor}}]</b>
      </a>
    </div>
  </div>
 