{% set saldoFactura  = document.saldo %}
<div class="well well-sm">
	<div class="row">
		<div class="col-md-3">
			<strong>Proveedor:</strong> <span>{{ document.supplier.nombre }}</span>
		</div>
		<div class="col-md-2">
			<strong>Ruc:</strong> <span>{{ document.supplier.identificacion_proveedor }}</span>
		</div>
		<div class="col-md-2">
			<strong>Fecha:</strong> <span>{{ document.fecha_emision  | date('d/m/Y') }}</span>
		</div>
		<div class="col-md-5">
			<strong>Comentarios:</strong> <span>{{ document.comentarios }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<strong>Valor $:</strong> <span class="text-primary">{{ document.valor | number_format(2,',','.')}}</span>
		</div>
		<div class="col-md-2">
			<strong>Justificado $:</strong> <span class="text-success"> $
				{{ document.invoiceDetails.sums | number_format(0,',','.') }}
			</span>
		</div>
		<div class="col-md-2">
			<strong>Pendiente $:</strong> <span class="text-danger"> $ {{ saldoFactura | number_format(0,',','.') }}
			</span>
		</div>
		<div class="col-md-3">
			<strong>Creado Por :</strong> <span>{{ user.nombres }}</span>
		</div>
		<div class="col-md-2">
			<span>{{ document.date_create }}</span>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-3">
		{% if saldoFactura > 0 %}
		    &nbsp;
    <small class="text-danger"> 
    	<span class="fa fa-warning"></span> Factura Incompleta
    </small>
    <br>
    <br>
		<a
			href="{{ rute_url }}detallefacpago/nuevo/{{ document.id_documento_pago }}"
			class="btn btn-default btn-sm"> <span class="fa fa-file"></span>
			Justificar Provision
		</a>
		{% endif %}
		{% if saldoFactura > 0 %}
		<h4 class="text-danger" ><span class="fa fa-warning"></span> Factura Inválida, VALORES EXCEDIDOS {{ saldoFactura }}</h4>  
		{% endif %}
		{% if saldoFactura == 0 %}
		<h4 class="text-succes" ><span class="fa fa-check"></span> Factura Completa</h4>  
		{% endif %}
		<br>
		<br>
	</div>
	<div class="col-md-3">
{% if saldoFactura != 0 %}
		<small>
		<span class="text-warning"> <span class="fa fa-lock"></span> Cerrar Factura de Servicios</span>
			
		</small>
		<br>
		<br>
		<a href="#myModal"  class="btn btn-default btn-sm" type="button" data-toggle="modal" aria-hidden="true">
			<span class="fa fa-cancel"></span> <span class="fa fa-file"></span> Liquidar [$ {{ saldoFactura | number_format(2,',','.')  }}]
		</a>
{% endif %}
	</div>
	<div class="col-md-2">

		<h4 class="text-primary">
			<small>Val Factura: $</small> <span> {{ document.valor | number_format(2,',','.')}}</span>
		</h4>
	</div>
	<div class="col-md-2">
		<h4 class="text-success">
			<small>Val Justificado: $</small> <span> {{ document.invoiceDetails.sums | number_format(2,',','.') }}</span>
		</h4>
	</div>
	<div class="col-md-2">
		<h4 
		{% if saldoFactura > 0 %}
			class="text-success"
		{% endif %}
		{% if saldoFactura < 0 %}
			class ="text-gray"
		{% endif %}
		{% if saldoFactura == 0 %}
		class ="text-success"
		{% endif %}
		class="text-defult"
		>
			<small>Val Pendiente: $</small> <span> {{ saldoFactura | number_format(2,',','.') }}</span>
		</h4>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Concepto</th>
					<th>Pedido</th>
					<th>Provisión</th>
					<th>Valor</th>
					<th>Saldo</th>
					<th>Desde</th>
					<th>Hasta</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{%  for detail in document.invoiceDetails.details %}		
			{% set saldo =  ( detail.expense.valor_provisionado - detail.valor) %}
			<tr>
			<td>{{loop.index}}</td>
			<td> <a href="{{rute_url}}detallefacpago/presentar/{{detail.id_detalle_documento_pago}}">
			{% if detail.bg_isnotprovisioned == '1' %}
					<label class="label label-danger"> <span class="fa fa-warning"></span> No Provisionado</label>
			{% endif %}
			{{ detail.expense.concepto  }}
			
			</a>
		</td>
			<td>
				<a href="{{rute_url}}pedido/presentar/{{ detail.expense.nro_pedido  }}">
				{{ detail.expense.nro_pedido  }}
			</a>
			</td>
			<td>{{ detail.expense.valor_provisionado  | number_format(2,',','.') }}</td>
			<td>{{ detail.valor }}</td>
			<td 
			{% if saldo > 0  %}
				class="text-warning"
			{% endif %}
			{% if saldo < 0 %}
			class="text-danger"
			{% endif %}
			{% if saldo == 0 %}
			class = "text-success"
			{% endif %}
			> 
			{{ saldo | number_format(2,',','.') }} 
			</td>
			<td>{{ detail.expense.fecha | date('d/m/Y') }}</td>
			<td>{{ detail.expense.fecha_fin  | date('d/m/Y') }}</td>
			<td>
				 <div class="dropdown">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-default">
                <span class="fa fa-chevron-down" ></span>
                Seleccione
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li> <a href="{{rute_url}}detallefacpago/presentar/{{detail.id_detalle_documento_pago}}">
                    <span class="fa fa-eye fa-fw"></span>
                    Ver Justificacion</a> 
                  </li>
                  <li> <a href="{{rute_url}}gstinicial/presentar/{{detail.expense.id_gastos_nacionalizacion}}">
                    <span class="fa fa-eye fa-fw"></span>
                    Ver Provisión</a> 
                  </li>
                  <li> <a href="{{rute_url}}detallefacpago/editar/{{detail.id_detalle_documento_pago}}">
                    <span class="fa fa-pencil fa-fw"></span>
                    Editar Justificacion</a> 
                  </li>
                  <li> <a href="{{rute_url}}detallefacpago/eliminar/{{detail.id_detalle_documento_pago}}" class="text-danger">
                    <span class="fa fa-trash fa-fw"></span>
                    Eliminar Justificacion</a> 
                  </li>
                </ul>
              </div>
			</td>
			</tr>
			{%  endfor %}

			<tr style="background-color:#2E86C1; color:#fff; font-weight:bold;">
            <td colspan="4" class="text-right">SUMAS: &nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="text-right">{{ document.invoiceDetails.sums | number_format(2,',','.') }}</td>
            <td class="text-right">--</td>
            <td class="text-right">--</td>
            <td class="text-right">--</td>
            <td class="text-right">--</td>
            </tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<a href="{{rute_url}}/facturapagos/listar/" class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i> Regresar a La Lista De Facturas</a>
		&nbsp;
		<a href="{{rute_url}}/facturapagos/eliminar/{{document.id_documento_pago}}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Eliminar Factura</a>
	</div>

	<div class="col-md-offset-8 text-right">
	<a href="{{rute_url}}facturapagos/editar/{{document.id_documento_pago}}" class="btn btn-info btn-sm"> 
	<span class="fa fa-pencil"></span> Editar Cabeceras Facura
	</a>
	</div>
</div>
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"> <span class="fa fa-warning"></span> Confirmar Acción</h4>
            </div>
            <div class="modal-body">
            	<p>
            		Esta acción aplica para los gastos que no fueron provisionados al iniciar un <strong>Pedido</strong> o un 
            		<strong>Parcial</strong>, en el siguiente formulario indique al Pedido y/o Parcial que afecta asi como tambien el valor, si se requiere se puede seleccionar el valor completo que es de 
            		<strong>
            		$ {{ saldoFactura | number_format(2,',','.') }}
					</strong> 
					dólares o una parte del mismo.
            	</p>
            	<div class="row">
            		<form action="{{rute_url}}detallefacpago/noProvisionado" method="post">
            			<input type="hidden" name="id_documento_pago" value="{{document.id_documento_pago}}">
            		<div class="col-md-3">
            			<div class="form-group">
            				<label>Pedido</label>
            			<select class="form-control" name="nro_pedido" id="nro_pedido" required="">
            				<option disabled="" selected="">Seleccione...</option>
            				{% for order in orders %}
            					<option value="{{order.nro_pedido}}"> {{order.nro_pedido}} </option>
            				{% endfor %}
            			</select>
            		</div>
            		</div>
            		<div class="col-md-3">
            			<div class="form-group">
            				<label>Parcial</label>
            			<select class="form-control" name="id_parcial" id="id_parcial" disabled="">
            				<option disabled="" selected="" >Seleccione...</option>
            			</select>
            			</div>
            		</div>
            		<div class="col-md-6">
            			<div class="form-group">
            				<label>Concepto</label>
            				<input 
            					type="text" 
            					name="concepto" 
            					id="concepto" 
            					class="form-control" 
            					maxlength="45" 
            					required="">
            			</div>
            		</div>
            	</div>
            	<div class="row">
            		<div class="col-md-3">
            			<div class="form-group">
            				<label>Valor</label>
            				<input 
            					class="form-control" 
            					type="number" 
            					name="valor" 
            					step="0.01" 
            					id="valProvision"
            					required="">
            			</div>
            		</div>
            		<div class="col-md-6">
            		<div class="form-gruop">
            			<label>Comentarios</label>
            			<textarea 
            			name="comentarios" 
            			id="comentarios" 
            			required="" 
            			class="form-control"
            			maxlength="250" 
            			></textarea>
            		</div>
            		</div>
            		<div class="col-md-3">
            			<br>
            			<br>
            			<div id="message">
            			</div>
            		</div>
            	</div>
            	
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default btn-sm" data-dismiss="modal"> <span class="fa fa-ban"></span> Cancelar</a>
                <button type="submit" class="btn btn-default btn-sm"> <span class="fa fa-save"></span> Aceptar Cambios</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
	var maxvalue = {{ saldoFactura }};
	var okMessage  = `
						<span class="text-success">
						<i class="fa fa-check"></i> Valor Dentro de rango Saldo
						</div>
					`;

    var errorMessage  = `
    					<span class="text-danger">
						<i class="fa fa-ban"></i> Valor Fuera de Rango, ingrese un valor válido
						</span>
					`;


	$('#valProvision').keyup(function(){
		var currentVal = parseFloat(this.value);
		$('#message').empty();
		if(currentVal <= maxvalue){
			$('#message').append(okMessage + (maxvalue - currentVal));
		}else{
			$('#message').append(errorMessage + (maxvalue - currentVal));
			this.value = '';
			this.focus();
		}
	});

var orders = {{ orders | json_encode | raw }};

$('#nro_pedido').change(function(){
	var found = orders.find(function(element){
		return element.nro_pedido === $('#nro_pedido').val();
	});

	if( found.regimen === 70 && found.parcials != false){
		$('#id_parcial option').remove();
		$('#id_parcial').removeAttr('disabled');
		$('#id_parcial').append('<option desabled selected value="0">Aplicar al Pedido</option>');
		$.each(found.parcials, function(key, value){
			var item =  '<option value="' + value.id_parcial + '">' + value.ordinalNumber + "<option>";
			$('#id_parcial').append(item);
		});
	}

});

$('#concepto').keyup(function(){
	this.value = this.value.toUpperCase();
});

$('#comentarios').keyup(function(){
	this.value = this.value.toUpperCase();
});

</script>