{% set valor_justificado = 0 %}
{%  for detail in infoInvoice.details %}
	{% set valor_justificado = valor_justificado + ((detail.oderDetail.costo_caja)*(detail.nro_cajas)) %}
{% endfor %}
{% set saldoFactura = (valor_justificado - infoInvoice.valor)  %}
{% set moneda = '&euro;' %}
{% if infoInvoice.moneda == 'DOLARES' %}
{% set moneda = '$' %}
{% endif %}
<div class="well well-sm">
	<div class="row">
		<div class="col-md-3">
			<strong>Proveedor:</strong> <span>{{ supplier.nombre }}</span>
		</div>
		<div class="col-md-2">
			<strong>Ruc:</strong> <span>{{ supplier.identificacion_proveedor }}</span>
		</div>
		<div class="col-md-2">
			<strong>Fecha:</strong> <span>{{ infoInvoice.fecha_emision  }}</span>
		</div>
		<div class="col-md-2">
			<strong>Seguro</strong> {{infoInvoice.seguro_aduana }}
			/ 
			<strong>Flete</strong> {{infoInvoice.flete_aduana }}
		</div>
		<div class="col-md-3">
			<strong>Comentarios:</strong> <span>{{ infoInvoice.comentarios }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<strong>Valor {{moneda | raw}}:</strong> <span class="text-primary">{{ infoInvoice.valor | number_format(2,',','.')}}</span>
		</div>
		<div class="col-md-2">
			<strong>Moneda </strong> <span class="text-success"> {{ moneda | raw }}
				{{ infoInvoice.moneda | upper }}
			</span>
		</div>
		<div class="col-md-2">
			<strong>Tipo de Cambio:</strong> <span class="text-danger"> $
				{{ infoInvoice.tipo_cambio | number_format(2,',','.') }}
			</span>
		</div>
		<div class="col-md-4">
			<strong>Creado Por :</strong> <span>{{ user.nombres }}</span>
			<span class="text-primary"> [{{ infoInvoice.date_create }}]</span>
		</div>
	</div>
</div>
<br>
<!-- Tabs -->
<div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
      	<a href="#facturas" role="tab" data-toggle="tab" aria-controls="facturas">
      	<span class="fa fa-file"></span> Detalle Factura Informativa 
      	{% if infoInvoice.bg_isclosed == '0' %}
         <span class="label label-success">Abierto</span>
         {% else %}
         <span class="label label-died">Cerrado</span>
         {% endif %}
      </a>
      </li>   
   </ul>
   <br>
   <div class="tab-content">
      <!-- tabFacturas-->
      <div role="tabpanel" class="tab-pane active" id="facturas">
         {% include 'sections/subsections/tab-facturainformativa-detalle.html.twig' %}
      </div>
      <!-- /tabFacturas-->
   </div>
</div>
<!--/tabs-->
<div class="row">
	<div class="col-md-2">
		<a href="{{rute_url}}parcial/presentar/{{ parcial.id_parcial }}" class="btn btn-default btn-sm">
			<i class="fa fa-cubes"></i> Volver al Parcial
		</a>
	</div>
</div>