<!--tabPedido-->
<div class="proveedor">
  <br>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr style="background-color: #c1c1c1;">
            <th>Nombre</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-right"> <b>ID:</b></td>
            <td>{{ initExpense.id_gastos_iniciales }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>ID Proveedor:</b></td>
            <td>{{ supplier.identificacion_proveedor }}</td>
          </tr>
          <tr>           
            <td class="text-right"><b>Nombre Proveedor:</b></td>
            <td>{{supplier.nombre}}</td>
          </tr>
          <tr>
            <td class="text-right"> <b>Tipo Proveedor:</b></td>
            <td> {{supplier.tipo_provedor}} </td>
          </tr>
          <tr>
            <td class="text-right"> <b>Fecha:</b></td>
            <td>{{ initExpense.fecha }}</td>
          </tr>
          {% if initExpense.concepto == 'ALMACENAJE  INICIAL' %}
          <tr>
            <td class="text-right"> <b>Fecha Fin:</b></td>
            <td>{{ initExpense.fecha_fin }}</td>
          </tr>
          {% endif %}
          
          <tr>
            <td class="text-right"> <b>Concepto:</b></td>
            <td> {{ initExpense.concepto | raw }}</td>
          </tr>
          <tr>
            <td class="text-right"> <b>Valor Provisionado:</b></td>
            <td> {{ initExpense.valor_provisionado }} </td>
          </tr>
          <tr>
            <td class="text-right"> <b>Comentarios:</b></td>
            <td> {{ initExpense.comentarios }} </td>
          </tr>
          <tr>
            <td class="text-right"> <b>Creado El:</b></td>
            <td> {{ initExpense.date_create }} </td>
          </tr>
          <tr>
            <td class="text-right"> <b>Ultima Actualización:</b></td>
            <td> {{ initExpense.last_update }} </td>
          </tr>
          <tr>
            <td class="text-right"> <b>Creado Por:</b></td>
            <td> {{ createBy.nombres }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <a href="{{rute_url}}pedido/presentar/{{order.nro_pedido}}" class="btn btn-default btn-sm">
      <span class="fa fa-arrow-left fa-fw"></span>  Volver al Pedido {{order.nro_pedido}}
    </a>
      <a href="{{rute_url}}gstinicial/editar/{{initExpense.id_gastos_iniciales}}" class="btn btn-default btn-sm">
      <span class="fa fa-pencil fa-fw"></span>  Editar Gasto Inicial
    </a>
    </div>
  </div>
</div>
<!--tabPedido-->