{% set fob = (order.valuesOrder.valInvoices) + (order.valuesOrder.originExpenses * order.valuesOrder.multiple) %}
{% set cif = (fob + order.valuesOrder.valSecureExpense + order.valuesOrder.valSecureExpense + order.valuesOrder.valShipExpnese)  %}
{% set nacionalizado = 0 %}
{% if order.bg_isclosed == 1 %}
	{% set nacionalizado = fob %}
{% endif %}
{% if order.regimen == 70  %}
	{% set nacionalizado = order.valuesOrder.infoInvoices  %}
{% endif %}
<div class="well well-sm">
   <div class="row">
      <div class="col-sm-3">
         <strong>Valor FOB Total:</strong> 
         <span class="text-primary">
         <strong>
         $ {{fob | number_format(2, '.', ',') }}      
         </strong>
         </span>  
      </div>
      <div class="col-sm-3">
         <strong>
         FOB Nacionalizado:</strong> 
         <span class="text-primary">
         <strong>
         $ {{ nacionalizado | number_format(2, '.', ',') }}      
         </strong>
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         Valor FOB Saldo:</strong> 
         <span class="text-primary">
         <strong>
			${{ (fob - nacionalizado) | number_format(2, '.', ',') }}      
         </strong>
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         CIF Total:</strong>
         <span class="text-primary">   
         {{ cif |  number_format(2, '.', ',') }}
         </span>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <strong>Tiempo Bodega:</strong> 
        <span>{{ warenHouseDays }} d&iacute;as</span>
      </div>
      <div class="col-sm-2">
         <strong>Provisiones:</strong> 
         <span class="text-warning">
         {{ order.valuesOrder.localExpenses | number_format(0, '.', ',') }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Justificado en Fact</strong> 
         <span class="text-primary">
         {{ order.valuesOrder.localPaidsExpenses | number_format(0, '.', ',') }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Saldo:</strong> 
         <span class="text-danger" style="font-weight: bold;">
         {{ (order.valuesOrder.localExpenses - order.valuesOrder.localPaidsExpenses) | number_format(0, '.', ',') }}
         </span>
      </div>
      <div class="col-sm-3">
         <strong>Puerto:</strong> <span> {{order.ciudad_origen}} / {{ order.pais_origen }} </span>
      </div>
   </div>
</div>

<!-- Tabs -->
<div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="#pedido" role="tab" data-toggle="tab" aria-controls="pedido">Detalle Pedido &nbsp;
         {% if order.bg_isclosed == '0' %}
         <span class="label label-success">Abierto</span>
         {% else %}
         <span class="label label-died">Cerrado</span>
         {% endif %}
         </a>
      </li>
      <li role="presentation" class="active">
      	<a href="#facturas" role="tab" data-toggle="tab" aria-controls="facturas">
      	<span class="fa fa-file"></span> Facturas Productos</a>
      </li>
      <li role="presentation">
      	<a href="#gastos" role="tab" data-toggle="tab" aria-controls="gastos">
      		<span class="fa fa-list"></span> Gastos Iniciales
      	</a>
      </li>
      {% if order.regimen == 10 %}
      <li role="presentation">
      	<a href="#nacionalizaciones" role="tab" data-toggle="tab" aria-controls="nacionalizaciones">
      		<span class="fa fa-archive"></span> Gastos Nacionalizacion
      	</a>
      </li>
      {% else %}
      <li role="presentation">
      	<a href="#facturas-informativas" role="tab" data-toggle="tab" aria-controls="facturas-informativas">
      		<span class="fa fa-file-o"></span> Facturas Informativas
      	</a>
      </li>
      {%  endif %}
      
      <li role="presentation">
      	<a href="#servicios" role="tab" data-toggle="tab" aria-controls="servicios">
      		<span class="fa fa-file-text-o"></span> Provisiones Justificadas
      	</a>
      </li>
   </ul>
   <br>
   <div class="tab-content">
      <!-- tabPedidoDetalle-->
      <div role="tabpanel" id="pedido" class="tab-pane">
         {% include 'sections/subsections/tab-detalle-pedido.html.twig' %}
      </div>
      <!-- /tabPedidoDetalle-->
      <!-- tabFacturas-->
      <div role="tabpanel" class="tab-pane active" id="facturas">
         {% include 'sections/subsections/tab-facturas-productos-pedido.html.twig' %}            
      </div>
      <!-- /Tab Facturas-->
      <!-- Gastos iniciales -->
      <div role="tabpanel" class="tab-pane" id="gastos">
         {% include 'sections/subsections/tab-gastos-iniciales.html.twig' %}            
      </div>
      <!-- /Gastos iniciales -->
      
       {% if order.regimen == 10 %}
      <!-- factura Nacionalizaciones -->
      <div role="tabpanel" class="tab-pane" id="nacionalizaciones">
         {% include 'sections/subsections/tab-nacionalizaciones.html.twig' %}            
      </div>
      <!-- /factura Nacionalizaciones -->
     {% else %}
     <!-- factura Informativas -->
      <div role="tabpanel" class="tab-pane" id="facturas-informativas">
         {% include 'sections/subsections/tab-facturas-informativas.html.twig' %}            
      </div>
      <!-- /factura Informativas -->
     {% endif %}
      
      <!-- Tab Facturas Servicios -->
      <div role="tabpanel" class="tab-pane" id="servicios">
         {% include 'sections/subsections/tab-facturas-servicios.html.twig' %}            
      </div>
      <!-- /Tab Facturas Servicios -->
   </div>
</div>
<!--/tabs-->