{% set fob = (order.valuesOrder.valInvoices) %}
{% set cif = (fob + order.valuesOrder.valSecureExpense + order.valuesOrder.valSecureExpense + order.valuesOrder.valShipExpnese)  %}
{% set nacionalizado = 0 %}
{% if order.bg_isclosed == 1 %}
	{% set nacionalizado = fob %}
{% endif %}
{% if order.regimen == 70  %}
	{% set nacionalizado = order.valuesOrder.infoInvoices  %}
{% endif %}

{% set justificado = 0 %}

{% for paid in paidsDetails %}
   {% set justificado = justificado + paid.valor %}
{% endfor %}
<div class="well well-sm">
   <div class="row">
      <div class="col-sm-3">
         <strong>Valor FOB Total:</strong> 
         <span class="text-primary">
         <strong>
         $ {{ fob | number_format(2, '.', ',') }}      
         </strong>
         </span>  
      </div>
      <div class="col-sm-3">
         <strong>
         FOB Nacionalizado:</strong> 
         <span class="text-primary">
         <strong>
         $ {{ nacionalizado | number_format(2, '.', ',') }}      
         </strong>
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         Valor FOB Saldo:</strong> 
         <span class="text-primary">
         <strong>
			${{ (fob - nacionalizado) | number_format(2, '.', ',') }}      
         </strong>
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         CIF Total:</strong>
         <span class="text-primary">   
         {{ (order.seguro_aduana + order.flete_aduana) |  number_format(2, '.', ',') }}
         </span>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <strong>Tiempo Bodega:</strong> 
        <span>{{ warenHouseDays }} d&iacute;as</span>
      </div>
      <div class="col-sm-2">
         <strong>Provisiones:</strong> 
         <span class="text-warning">
         {{ order.valuesOrder.localExpenses | number_format(0, '.', ',') }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Justificado Fact</strong> 
         <span class="text-primary">
         {{ justificado | number_format(0, '.', ',') }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Saldo:</strong> 
         <span class="text-danger" style="font-weight: bold;">
         {{ (order.valuesOrder.localExpenses - justificado ) | number_format(0, '.', ',') }}
         </span>
      </div>
      <div class="col-sm-3">
         <strong>Puerto:</strong> <span> {{order.ciudad_origen}} / {{ order.pais_origen }} </span>
      </div>
   </div>
</div>
<div class="row">
<div class="col-md-5">
<ol class="breadcrumb" style="color: #111;">
  <li class="{{ ubicacion.buque }}"> <span class="fa fa-ship"></span> Buque</a></li>
  <li class="{{ ubicacion.puerto }}"> <span class="fa fa-simplybuilt"></span> Puerto</li>
  {% if order.regimen == 70 %}
  <li class="{{ ubicacion.transporte }}"> <span class="fa fa-truck"></span> Transporte</li>
  <li class="{{ ubicacion.almacenera }}"> <span class="fa fa-fort-awesome"></span>Almacenera</li>
  {% endif %}
  <li class="{{ ubicacion.cordovez }}"> <span class="fa fa-home"></span> Cordovez</li>
</ol>
</div>
<div class="col-md-7 text-right">
		<a href="{{rute_url}}gstinicial/validargi/{{order.nro_pedido}}" class="btn btn-default btn-sm">
				<span class="fa fa-gear"></span> Gastos Iniciales
		</a>
		{%  if order.bg_isliquidated == 0 and order.regimen == 10 %}
		<a href="{{rute_url}}pedido/editar/{{order.nro_pedido}}" class="btn btn-default btn-sm">
				<span class="fa fa-pencil fa-fw"></span>Editar
		</a>  
		<a href="{{rute_url}}pedidofactura/nuevo/{{ order.nro_pedido }}" class="btn btn-default btn-sm">
				<span class="fa fa-plus"></span> Agregar Productos
		</a>	
		{% elseif order.bg_haveExpenses == 0 and order.regimen == 70 %}
			<a href="{{rute_url}}pedido/editar/{{order.nro_pedido}}" class="btn btn-default btn-sm">
				<span class="fa fa-pencil fa-fw"></span>Editar
		</a>  
		<a href="{{rute_url}}pedidofactura/nuevo/{{ order.nro_pedido }}" class="btn btn-default btn-sm">
				<span class="fa fa-plus"></span> Agregar Productos
		</a>
		{% endif %}
		
		
		
		<a
			href="{{rute_url}}facturapagos/nuevo/{{order.nro_pedido}}">
			<button class="btn btn-default btn-sm">
				<span class="fa fa-file-o"></span> Justificar Gasto
			</button>
		</a>
		
</div>
	</div>
<!-- Tabs -->
<div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="#pedido" role="tab" data-toggle="tab" aria-controls="pedido">Detalle Pedido &nbsp;
         {% if order.bg_isclosed == '0' %}
         <span class="label label-success">Abierto</span>
         {% else %}
         <span class="label label-died">Cerrado</span>
         {% endif %}
         </a>
      </li>
      <!-- Para ocultar las tabs se debe hacer desde este punto -->
      <li role="presentation" class="active">
      	<a href="#facturas" role="tab" data-toggle="tab" aria-controls="facturas">
      	<span class="fa fa-file"></span> Facturas Productos</a>
      </li>
      <li>
      {% if order.regimen == '70' %}
      	<a href="#facturas-informativas" role="tab" data-toggle="tab" aria-controls="facturas-informativas">
      		<span class="fa fa-list-ol"></span> Parciales del Pedido
      	</a>
      </li>
      {%  endif %}
            <li role="presentation">
         <a href="#saldos" role="tab" data-toggle="tab" aria-controls="saldos">
            <span class="fa fa-bar-chart-o"></span> Saldo Pedido
         </a>
      </li>
   </ul>
   <br>
   <div class="tab-content">
      <!-- tabPedidoDetalle-->
      <div role="tabpanel" id="pedido" class="tab-pane">
         {% include 'sections/subsections/tab-detalle-pedido.html.twig' %}
      </div>
      <!-- /tabPedidoDetalle-->
      <!-- tabFacturas-->
      <div role="tabpanel" class="tab-pane active" id="facturas">
         {% include 'sections/subsections/tab-facturas-productos-pedido.html.twig' %}            
      </div>
      <!-- /Tab Facturas-->      
       {% if order.regimen == 10 %}
      <!-- factura Nacionalizaciones -->
      <div role="tabpanel" class="tab-pane" id="nacionalizaciones">
         {% include 'sections/subsections/tab-nacionalizaciones.html.twig' %}            
      </div>
      <!-- /factura Nacionalizaciones -->
     {% else %}
     <!-- factura Informativas -->
      <div role="tabpanel" class="tab-pane" id="facturas-informativas">
         {% include 'sections/subsections/tab-facturas-informativas.html.twig' %}            
      </div>
      <!-- /factura Informativas -->
     {% endif %}
      
      <!-- /Tab Facturas Servicios -->

      <!-- Tab Facturas Saldos -->
      <div role="tabpanel" class="tab-pane" id="saldos">
      <div class="row">
      	<div class="col-md-8">
      	<canvas id="chart"></canvas>
      	</div>
      	<div class="col-md-4">
      	<div class="text-tittle">Saldo de Productos</div>
            <table class="table table-bordered table-hover table-condensed table-striped ">
            <thead>
            <tr>
        	<th>Producto</th>
        	<th>Imp</th>
        	<th>Nac</th>
        	<th>Stock C</th>
        	<th>Stock U</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            {% set totalItems = 0 %}
            {% set totalUnds = 0 %}
            
            {% for product in current_stock %}
            {% set totalItems = totalItems + product.stock  %}
            {% set totalUnds = totalUnds + (product.stock * product.cantidad_x_caja)  %}
            
            <tr>
		        <td>{{ product.nombre }} (x {{ product.cantidad_x_caja }})</td>
		        <td class="text-right">{{ product.nro_cajas }}</td>
		        <td class="text-right">{{ product.nationalized }}</td>
		        <td class="text-right success"> <strong class="text-success">{{ product.stock }} </strong></td>
		        <td class="text-right success"> <strong class="text-success">{{ product.stock * product.cantidad_x_caja }} </strong></td>
		     </tr>
            {% endfor %}
            </tr>
            
            <tr style="background-color:#2E86C1; color:#fff; font-weight:bold;">
            <td colspan="3" class="text-right">SUMAS: &nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="text-right">{{ totalItems }}</td>
            <td class="text-right">{{ totalUnds }}</td>            
          </tr>
            </tbody>
            </table>      	
      	</div>
      	
      </div>      
                     
      </div>
      <!-- /Tab Facturas Servicios -->

   </div>
</div>
<!--/tabs-->

<script type="text/javascript">

var ctx = document.getElementById("chart").getContext('2d');
var barChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [{% for product in current_stock %}'{{ product.nombre }} ({{ product.nro_cajas }} / {{ product.stock }}) ',{% endfor %}],
    datasets: [{
      label: 'Cajas Importadas',
      data: [{% for product in current_stock %}{{ product.nro_cajas }},{% endfor %}],
      backgroundColor: "rgba(93, 144, 44, 0.9)"
    }, {
      label: 'Saldo Cajas',
      data: [{% for product in current_stock %}{{ product.stock }},{% endfor %}],
      backgroundColor: "rgba(247, 165, 37, 0.9)"
    }]
  }
});
</script>