{%  set fob = viewData.valuesSums.valInvoices + (viewData.valuesSums.initExpenses * viewData.valuesSums.mutiple ) %}
{% set saldo =  fob - viewData.valuesSums.infoInvoices %}
<div class="well well-sm">
   <div class="row">
      <div class="col-sm-3">
         <strong>Valor FOB Total:</strong> 
         <span class="fa fa-usd">/</span>
         <strong>
         {{fob | number_format(2, '.', ',') }}      
         </strong>  
      </div>
      <div class="col-sm-3">
         <strong>
         FOB Nacionalizado:</strong> 
         <span class="fa fa-usd">/</span>
         <span class="text-primary">
         <strong>
         {% if valuesSums.regimen10 == true %}
         {{fob | number_format(2, '.', ',') }}      
         {% else %}
         0.00
         {% endif %}
         </strong>
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         Valor FOB Saldo:</strong> 
         <span class="fa fa-usd">/</span>
         <span class="text-primary">
         <strong>
         {% if valuesSums.regimen10 == true %}
         0.00
         {% else %}
         {{fob | number_format(2, '.', ',') }}      
         {% endif %}
         </strong>
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         Fecha Registro:</strong> {{ viewData.order.date_create }}
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <strong>Tiempo Bodega:</strong> 
         {% set meses = (viewData.order.dias / 30) %}
         {% set anos = (viewData.order.dias / 365)  %}
         {% if viewData.order.dias < 30 %}
         {{viewData.order.dias | number_format(1, '.', ',') }} 
         <small>días</small>  
         {% elseif (viewData.order.dias > 29) and (viewData.order.dias < 300) %}
         {{meses | number_format(2, '.', ',')}} <small><b>Meses</b></small>  
         {% elseif viewData.order.dias > 300 %}
         {{ anos | number_format(3, '.', ',')}} <small>años</small>
         {% endif %}
         </label>
      </div>
      <div class="col-sm-2">
         <strong>Provisiones:</strong> 
         <span class="text-warning">
         {{ viewData.provisions | number_format(0, '.', ',') }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Consolidado:</strong> 
         <span class="text-primary">
         {{ viewData.consolided | number_format(0, '.', ',') }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Saldo:</strong> 
         <span class="text-primary">
         {% set saldo = (viewData.provisions - viewData.consolided) %}
         {{ saldo | number_format(0, '.', ',') }}
         </span>
      </div>
      <div class="col-sm-3">
         <strong>Creado Por:</strong> <span>{{user.nombres}}</span>
      </div>
   </div>
</div>

<!-- Tabs -->
<div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="#pedido" role="tab" data-toggle="tab" aria-controls="pedido">Detalle Pedido &nbsp;
         {% if viewData.order.bg_isclosed == '0' %}
         <span class="label label-success">Abierto</span>
         {% else %}
         <span class="label label-died">Cerrado</span>
         {% endif %}
         </a>
      </li>
      <li role="presentation" class="active">
      	<a href="#facturas" role="tab" data-toggle="tab" aria-controls="facturas">
      	<span class="fa fa-file"></span> Facturas Productos</a>
      </li>
      <li role="presentation">
      	<a href="#gastos" role="tab" data-toggle="tab" aria-controls="gastos">
      		<span class="fa fa-list"></span> Gastos Iniciales
      	</a>
      </li>
      <li role="presentation">
      	<a href="#nacionalizaciones" role="tab" data-toggle="tab" aria-controls="nacionalizaciones">
      		<span class="fa fa-archive"></span> Nacionalizaciones
      	</a>
      </li>
      <li role="presentation">
      	<a href="#impuestos" role="tab" data-toggle="tab" aria-controls="impuestos">
      		<span class="fa fa-money"></span> Impuestos
      	</a>
      </li>
      <li role="presentation">
      	<a href="#facturasServicios" role="tab" data-toggle="tab" aria-controls="facturasfacturasServicios">
      		<span class="fa fa-file-o"></span> Facturas Servicios
      	</a>
      </li>
   </ul>
   <br>
   <div class="tab-content">
      <!-- tabPedidoDetalle-->
      <div role="tabpanel" id="pedido" class="tab-pane">
         {% include 'sections/subsections/tab-detalle-pedido.html.twig' %}
      </div>
      <!-- /tabPedidoDetalle-->
      <!-- tabFacturas-->
      <div role="tabpanel" class="tab-pane active" id="facturas">
         {% include 'sections/subsections/tab-facturas-productos-pedido.html.twig' %}            
      </div>
      <!-- /Tab Facturas-->
      <!-- Gastos iniciales -->
      <div role="tabpanel" class="tab-pane" id="gastos">
         {% include 'sections/subsections/tab-gastos-iniciales.html.twig' %}            
      </div>
      <!-- /Gastos iniciales -->
      <!-- factura Nacionalizaciones -->
      <div role="tabpanel" class="tab-pane" id="nacionalizaciones">
         {% include 'sections/subsections/tab-nacionalizaciones.html.twig' %}            
      </div>
      <!-- /factura Nacionalizaciones -->
      <!-- Tab Impuestos -->
      <div role="tabpanel" class="tab-pane" id="impuestos">
         {% include 'sections/subsections/tab-impuestos.html.twig' %}            
      </div>
      <!-- /Tab Impuestos -->
      <!-- Tab Facturas Servicios -->
      <div role="tabpanel" class="tab-pane" id="facturasServicios">
         {% include 'sections/subsections/tab-facturas-servicios.html.twig' %}            
      </div>
      <!-- /Tab Facturas Servicios -->
   </div>
</div>
<!--/tabs-->