<div class="row">
   <div class="col-md-3">
      <div class="card text-center">
         <img src="{{ base_url }}img/report.png" alt="Spreadsheet Document XLS Icon" class="center"/>
         <div class="card-body">
            <h5 class="card-title">Reporte de Provisiones</h5>
            <br />
            <a href="{{rute_url}}reportes/provisiones/" class="btn btn-default btn-sm"> <span class="fa fa-table"></span> Ver Reporte de Provisiones</a>
         </div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="card text-center">
         <img src="{{ base_url }}img/report.png" alt="Spreadsheet Document XLS Icon" class="center"/>
         <div class="card-body">
            <h5 class="card-title">Reporte de Facturas</h5>
            <br />
            <a href="{{rute_url}}reportes/pagos/" class="btn btn-default btn-sm"> <span class="fa fa-table"></span> Ver Reporte de Pagos</a>
         </div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="card text-center">
         <img src="{{ base_url }}img/report.png" alt="Spreadsheet Document XLS Icon" class="center"/>
         <div class="card-body">
            <h5 class="card-title">Reporte de ICE Advalorem</h5>
            <br />
            <a href="#" class="btn btn-default btn-sm"><span class="fa fa-table"></span> Ver Reporte Ice Advalorem</a>
         </div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="card text-center">
         <img src="{{ base_url }}img/report.png" alt="Spreadsheet Document XLS Icon" class="center"/>
         <div class="card-body">
            <h5 class="card-title">Reporte Saldos Pedidos Almagro</h5>
            <br />
            <a href="{{rute_url}}reportes/saldos/" class="btn btn-default btn-sm"> <span class="fa fa-table"></span> Ver Reporte de Pedidos Abiertos</a>
         </div>
      </div>
   </div>
</div>