{% if order.bg_isclosed == 1 %}       
   <span style="background-color:#d11; float:right;color:#fff;padding:2px;border-radius:4px;">
      Liquidado por: <label for="" class="label label-danger">{{ user_liquidacion.nombres }}</label>
      <label class="label label-danger">
      {{ order.fecha_cierre | date('d/m/Y')}}
      </label>
   </span>   
   <span style="background-color:#f1f1f1;padding:2px;border-radius:2px;">
	Observaciones:  <small class="text-danger"> {{ order.notas_cierre }}</small>
   </span>
{% endif %}


{% if parcial.bg_isclosed == 1 %}    
   <span style="background-color:#d41; float:right;color:#fff;padding:2px;border-radius:4px;">
      <label for="" class="label label-danger">{{ user_liquidacion.nombres }}</label>
      <label class="label label-danger">
      {{ parcial.fecha_cierre | date('d/m/Y')}}
      </label>
   </span>   
   <span style="background-color:#f1f1f1; float:right;padding:2px;border-radius:2px;">
	Observaciones:  <span class="text-danger"> {{ parcial.notas_cierre }}</span>
   </span>
{% endif %}

<div class="row">
   <div class="col-md-4">
      <div class="text-tittle">Par&aacute;metros compatidos por el pedido {{ init_data.order.nro_pedido }} </div>
      <table class="table table-condensed table-bordered table-hover">
         <thead>
            <tr>
               <th>Concepto</th>
               <th>Valor</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td class="text-right brackground-gray"><strong>Nro Facturas </strong></td>
               <td class="text-right">{{ init_data.order_invoices | length  }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Moneda</strong></td>
               <td class="text-right"> {{ init_data.order_invoices.0.moneda }} </td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Tipo de Cambio Factura</strong></td>
               <td class="text-right">{{ order_taxes.data_general.tipo_cambio_factura | number_format(6,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Tipo de Cambio Pedido</strong></td>
               <td class="text-right">{{ order_taxes.data_general.tipo_cambio_pedido | number_format(6,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>FOB</strong></td>
               <td class="text-right">{{ order_taxes.sums.fob | number_format(3,',','.') }}</td>
            </tr>
               <tr>
               <td class="text-right brackground-gray"><strong> Liquidacion Inicial Con TASA</strong></td>            
               		<td class="text-right">
               		<span class="text-success">
						{% if order.bg_have_tasa_control  == 1%}
							<span class="fa fa-check"></span> SI	
						{% else %}
							<span class="fa fa-ban"></span> NO
						{% endif %}
               		</span>
					</td>               
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong> Fecha Pago Liquidacion Inicial:</strong></td>
               		<td class="text-right">
               		{% if order.fecha_liquidacion %}
               		<span class="text-success">
               			<span class="fa fa-check"></span>
               			{{ order.fecha_liquidacion | date('d/m/Y') }}
               		</span>
               		{% else %}
               		<span class="text-danger">
               		<span class="fa fa-ban"></span>
               			Sin Fecha
               		</span>
               		{% endif %}
               		</td>           
            </tr>
            <tr>
            <td class="text-right brackground-gray"><strong>Base Arancel Específico</strong></td>
            <td class="text-right">{{ order_taxes.data_general.base_arancel_especifico | number_format(2, ',', '.') }}</td>
            </tr>
            <tr>
            <td class="text-right brackground-gray"><strong>Base Advalorem</strong></td>
            <td class="text-right">{{ order_taxes.data_general.base_advalorem | number_format(2, ',', '.') }}</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="col-md-8">
      <div class="text-tittle">
         Parámetros de Calculo Impuestos
      </div>
      <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-10">
         {% include '/sections/subsections/tabs_container_taxes_params.html.twig' %}
         </div>
         <div class="col-md-1"></div>
   </div>
</div>
   </div>
   
<div class="row">
   <div class="col-md-12">
      <div class="table-responsive" style="height: 310px;">
      
      
       <table class="table table-condensed table-bordered table-hover table-striped">
            <tr>
               <th>#</th>
               <th>Cod Contable</th>
               <th>Producto</th>
               <th>Cajas</th>
               <th>UxC</th>
               <th>Unds</th>
               <th>FOB </th>
               <th>Seguro A</th>
               <th>Flete A</th>
               <th>CIF</th>
               {% if order_taxes.sums.arancel_especifico_pagar > 0 %}
               	<th>Arancel Especifico</th>
               {% endif %}
               {% if order_taxes.sums.arancel_advalorem_pagar > 0 %}
               	<th>Arancel Advalorem</th>
               {% endif %}  
               <th>Fodinfa</th>
               <th>Etiquetas Fiscales</th>
               {% if order_taxes.sums.tasa_control > 0 %}
               	<th>Tasa Control</th>
               {% endif %}
               <th>Exaduana U</th>
               <th>B Advalorem</th>
               <th>Cap.</th>
               <th>% Alch</th>              
               <th>ICE Esp U</th>
               <th>ICE Adv U</th>
               <th>ICE Especifico</th>
               <th>ICE Avalorem Reliquidado</th>
               <th>ICE Avalorem Pagado </th>
               <th>ICE Avalorem Diferencia Reliquidado</th>
               <th>Total ICE</th>
               <th>Prorrateo Pedido</th>
               <th>Costos Indirectos Precio Entrega</th>
               <th>Total Costos</th>
               <th>Costo Caja</th>
               <th>Costo Botella</th>
            </tr>
            {% for tax in order_taxes['taxes'] %}
            <tr>
                      
          	<td> {{ loop.index }} </td>
            <td nowrap>{{ tax.cod_contable }}</td>
            <td nowrap>{{ tax.product }}</td>
            <td class="text-right"> {{ tax.cajas }} </td>
            <td class="text-right"> {{ tax.cantidad_x_caja }} </td>
            <td class="text-right">{{ tax.unidades }}</td>
            <td class="text-right">{{ tax.fob | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.seguro_aduana | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.flete_aduana | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.cif | number_format(2,',','.') }}</td>
            {% if order_taxes.sums.arancel_especifico_pagar > 0 %}         
            	<td class="text-right">{{ tax.arancel_especifico_pagar | number_format(2,',','.') }}</td>
            {% endif %}
            {% if order_taxes.sums.arancel_advalorem_pagar > 0 %}
            	<td class="text-right">{{ tax.arancel_advalorem_pagar | number_format(2,',','.') }}</td>
           	{% endif %}
            <td class="text-right">{{ tax.fodinfa | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.etiquetas_fiscales | number_format(2,',','.') }}</td>
            {% if order_taxes.sums.tasa_control > 0 %}
            <td class="text-right">{{ tax.tasa_control | number_format(2,',','.') }}</td>
            {% endif %}           
            <td class="text-right">{{ tax.ex_aduana_unitario | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.base_advalorem | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.capacidad_ml | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.grado_alcoholico | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.ice_especifico_unitario | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.ice_advalorem_unitario | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.ice_especifico | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.ice_advalorem | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.ice_advalorem_pagado | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.ice_advalorem_diferencia | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.total_ice | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.prorrateo_pedido | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.indirectos | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.costo_total | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.costo_caja_final | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.costo_botella | number_format(2,',','.') }}</td>
            </tr>
            {% endfor %}
               <tr style="background-color:#2E86C1; color:#fff;">
               <td colspan="3">Sumas:</td>
               <td class="text-right">{{ order_taxes.sums.cajas }}</td>
               <td class="text-center">--</td>
               <td class="text-right">{{ order_taxes.sums.unidades }}</td>
               <td class="text-right">{{ order_taxes.sums.fob | number_format(2,',','.') }}</td>
               <td class="text-right">{{ order_taxes.sums.seguro_aduana | number_format(2,',','.')}}</td>
               <td class="text-right">{{ order_taxes.sums.flete_aduana | number_format(2,',','.') }}</td>
               <td class="text-right">{{ order_taxes.sums.cif | number_format(2,',','.') }}</td>
               {% if order_taxes.sums.arancel_especifico_pagar > 0 %}             
               	<td class="text-right">{{ order_taxes.sums.arancel_especifico_pagar | number_format(2,',','.') }}</td>
               {% endif %}
               {% if order_taxes.sums.arancel_advalorem_pagar > 0 %}
               	<td class="text-right">{{ order_taxes.sums.arancel_advalorem_pagar | number_format(2,',','.') }}</td>
               {% endif %}
               <td class="text-right">{{ order_taxes.sums.fodinfa | number_format(2,',','.') }}</td>
               <td class="text-right">{{ order_taxes.sums.etiquetas_fiscales | number_format(2,',','.') }}</td>
               {% if order_taxes.sums.tasa_control > 0 %}
               	<td class="text-right">{{ order_taxes.sums.tasa_control | number_format(2,',','.') }}</td>
               {% endif %}
               <td class="text-center">--</td>
               <td class="text-center">--</td>
               <td class="text-center">--</td>
               <td class="text-center"></td>
               <td class="text-center">--</td>
               <td class="text-center">--</td>
               <td class="text-right">{{ order_taxes.sums.ice_especifico | number_format(2,',','.') }}</td>
               <td class="text-right">{{ order_taxes.sums.ice_advalorem | number_format(2,',','.') }}</td>
               <td class="text-right">{{ order_taxes.sums.ice_advalorem_pagado | number_format(2,',','.') }}</td>
               <td class="text-right">{{ order_taxes.sums.ice_advalorem_diferencia | number_format(2,',','.') }}</td>
               <td class="text-right">{{ order_taxes.sums.total_ice | number_format(2,',','.') }}</td>
               <td class="text-right">{{ (order_taxes.sums.prorrateo_pedido) | number_format(2,',','.') }}</td>
               <td class="text-right">{{ order_taxes.sums.indirectos | number_format(2,',','.') }}</td>
               <td class="text-right">{{ order_taxes.sums.costo_total | number_format(2,',','.') }}</td>
               <td class="text-center">--</td>
               <td class="text-center">--</td>
            </tr>
         </table>
		  <strong class="text-primary">Reliquidacion de Ice Advalorem:</strong>
         <div class="well well-sm" style="font-size: 14px;height: 40px;">
         	<span class="col-md-3">
            Ice Advalorem: 
            <strong>{{ order_taxes.sums.ice_advalorem  | number_format(3,',','.')}}</strong>
            </span>
            <span class="col-md-3">
            Ice Advalorem Pagado: 
            <strong>{{ order_taxes.sums.ice_advalorem_pagado  | number_format(3,',','.')}}</strong>
            </span>
            <span class="col-md-3 text-danger">
            ICE Advalorem Por Pagar: 
            <strong>{{ order_taxes.sums.ice_advalorem_diferencia  | number_format(3,',','.')}}</strong>
            </span>
      </div>
      </div>
      </div>
      </div>

<br>
<div class="row">
   <div class="col-md-2">
      {% if order.bg_isliquidated == 1  and order.bg_isclosed == 0   %}
         <a class="btn btn-sm btn-primary" href="{{ rute_url }}impuestos/reverso/pedido/{{order.nro_pedido}}">
            <span class="fa fa-refresh"></span> Reingreso Liquidación
         </a>
      {% endif %}
      <a href="{{ rute_url }}gstinicial/validargi/{{ order.nro_pedido }}" class="btn btn-primary btn-sm">
				<span class="fa fa-gear"></span> Gastos Iniciales
		</a>
   </div>
   <div class="col-md-4"></div>
   <div class="col-md-6 text-right">
      <a href="{{ rute_url }}pedido/presentar/{{ order.nro_pedido }}" class="btn btn-sm btn-default"> <span class="fa fa-check"></span> Volver al Pedido </a>
      {% if order.bg_isclosed == 0 %}      
 		&nbsp;&nbsp;
      <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">
      <span class="fa fa-save"></span> Liquidar Pedido
      </button>
      {% endif %}      
   </div>   
</div>
</div>

{% include 'forms/frm-cierre-pedido.html.twig'  %}
