{% if parcial.bg_isclosed == 1 %}    
   <span style="background-color:#d41; float:right;color:#fff;padding:2px;border-radius:4px;">
      Parcial Liquidado y Cerrado
   </span>
{% endif %}
<div class="row">
   <div class="col-md-4">
      <div class="text-tittle">Par&aacute;metros compatidos por el parcial </div>
     <table class="table table-condensed table-bordered table-hover">
         <thead>
            <tr>
               <th>Concepto</th>
               <th>Valor</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td class="text-right brackground-gray"><strong>Nro Facturas </strong></td>
               <td class="text-right">{{ init_data.order_invoices | length  }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Moneda</strong></td>
               <td class="text-right"> {{ init_data.order_invoices.0.moneda }} </td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Tipo de Cambio Factura</strong></td>
               <td class="text-right">{{ parcial_taxes.data_general.tipo_cambio_factura | number_format(6,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Tipo de Cambio Parcial</strong></td>
               <td class="text-right">{{ parcial_taxes.data_general.tipo_cambio_parcial | number_format(6,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>FOB</strong></td>
               <td class="text-right">{{ parcial_taxes.sums.fob | number_format(3,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Porcentaje</strong></td>
               <td class="text-right">{{ init_data.fobs_parcial.fob_parcial_razon_inicial | number_format(5,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong> Liquidacion Inicial Con TASA</strong></td>            
               		<td class="text-right">
               		<span class="text-success">
						{% if parcial.bg_have_tasa_control  == 1%}
							<span class="fa fa-check"></span> SI	
						{% else %}
							<span class="fa fa-ban"></span> NO
						{% endif %}
               		</span>
					</td>               
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong> Fecha Pago Liquidacion Inicial:</strong></td>
               		<td class="text-right">
               		{% if parcial.fecha_liquidacion %}
               		<span class="text-success">
               			<span class="fa fa-check"></span>
               			{{ parcial.fecha_liquidacion | date('d/m/Y') }}
               		</span>
               		{% else %}
               		<span class="text-danger">
               		<span class="fa fa-ban"></span>
               			Sin Fecha
               		</span>
               		{% endif %}
               		</td>           
            </tr>
            <tr>
            <td class="text-right brackground-gray"><strong>Base Arancel Específico</strong></td>
            <td class="text-right">{{ parcial_taxes.data_general.base_arancel_especifico | number_format(2, ',', '.') }}</td>
            </tr>
            <tr>
            <td class="text-right brackground-gray"><strong>Base Advalorem</strong></td>
            <td class="text-right">{{ parcial_taxes.data_general.base_advalorem | number_format(2, ',', '.') }}</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="col-md-8">
      <div class="text-tittle">
         Parámetros de Calculo Impuestos
      </div>
      <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-10">
            {% include '/sections/subsections/tabs_container_taxes_params.html.twig' %}
         </div>
         <div class="col-md-1"></div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <div class="table-responsive" style="height: 250px;">
      
      
       <table class="table table-condensed table-bordered table-hover table-striped">
            <tr>
               <th>#</th>
               <th>Cod Contable</th>
               <th>Producto</th>
               <th>Cajas</th>
               <th>UxC</th>
               <th>Unds</th>
               <th>FOB </th>
               <th>Seguro A</th>
               <th>Flete A</th>
               <th>CIF</th>
               {%  if  parcial_taxes.sums.arancel_especifico_pagar > 0 %}
               <th>Arancel Especifico</th>
               {% endif %}
               {% if parcial_taxes.sums.arancel_advalorem_pagar %}
               <th>Arancel Advalorem</th>                       
               {% endif %}
               <th>Fodinfa</th>
               <th>Etiquetas Fiscales</th>
               {% if parcial_taxes.sums.tasa_control > 0 %}
               <th>Tasa Control</th>
               {% endif %}
               <th>Exaduana U</th>
               <th>B Advalorem</th>
               <th>Cap.</th>
               <th>% Alch</th>
               	<th>ICE Esp U</th>
               	<th>ICE Adv U</th>
               <th>ICE Especifico</th>
               <th>ICE Avalorem Reliquidado</th>
               <th>ICE Avalorem Pagado </th>
               <th>ICE Avalorem Diferencia Reliquidado</th>
               <th>Total ICE</th>
               <th>Prorrateo Pedido</th>
               <th>Costos Indirectos Precio Entrega</th>
               <th>Total Costos</th>
               <th>Costo Caja</th>
               <th>Costo Botella</th>
            </tr>
            {% for tax in parcial_taxes['taxes'] %}
            <tr>
            <td> {{ loop.index }} </td>
            <td nowrap>{{ tax.cod_contable }}</td>
            <td nowrap>{{ tax.product }}</td>
            <td class="text-right"> {{ tax.cajas }} </td>
            <td class="text-right"> {{ tax.cantidad_x_caja }} </td>
            <td class="text-right">{{ tax.unidades }}</td>
            <td class="text-right">{{ tax.fob | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.seguro_aduana | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.flete_aduana | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.cif | number_format(2,',','.') }}</td>
            {% if tax.arancel_especifico_pagar > 0 %}
            <td class="text-right">{{ tax.arancel_especifico_pagar | number_format(2,',','.') }}</td>
            {% endif %}
            {% if tax.arancel_advalorem > 0 %}
            <td class="text-right">{{ tax.arancel_advalorem | number_format(2,',','.') }}</td>
            {% endif %}
            <td class="text-right">{{ tax.fodinfa | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.etiquetas_fiscales | number_format(2,',','.') }}</td>
            {% if tax.tasa_control > 0 %}
            <td class="text-right">{{ tax.tasa_control | number_format(2,',','.') }}</td>
            {% endif %}
            <td class="text-right">{{ tax.ex_aduana_unitario | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.base_advalorem | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.capacidad_ml | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.grado_alcoholico | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.ice_especifico_unitario | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.ice_advalorem_unitario | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.ice_especifico | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.ice_advalorem | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.ice_advalorem_pagado | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.ice_advalorem_diferencia | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.total_ice | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.prorrateos_total | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.indirectos | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.costo_total | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.costo_caja_final | number_format(2,',','.') }}</td>
            <td class="text-right">{{ tax.costo_botella | number_format(2,',','.') }}</td>
            </tr>
            {% endfor %}
            <tr style="background-color:#2E86C1; color:#fff;">
               <td colspan="3">Sumas:</td>
               <td class="text-right">{{ parcial_taxes.sums.cajas }}</td>
               <td class="text-center">--</td>
               <td class="text-right">{{ parcial_taxes.sums.unidades }}</td>
               <td class="text-right">{{ parcial_taxes.sums.fob | number_format(2,',','.') }}</td>
               <td class="text-right">{{ parcial_taxes.sums.seguro_aduana | number_format(2,',','.')}}</td>
               <td class="text-right">{{ parcial_taxes.sums.flete_aduana | number_format(2,',','.') }}</td>
               <td class="text-right">{{ parcial_taxes.sums.cif | number_format(2,',','.') }}</td>
               {% if parcial_taxes.sums.arancel_especifico_pagar > 0 %}
               <td class="text-right">{{ parcial_taxes.sums.arancel_especifico_pagar | number_format(2,',','.') }}</td>
               {% endif %}
               {% if parcial_taxes.sums.arancel_advalorem > 0 %}
               <td class="text-right">{{ parcial_taxes.sums.arancel_advalorem | number_format(2,',','.') }}</td>
               {% endif %}
               <td class="text-right">{{ parcial_taxes.sums.fodinfa | number_format(2,',','.') }}</td>
               <td class="text-right">{{ parcial_taxes.sums.etiquetas_fiscales | number_format(2,',','.') }}</td>
               {% if parcial_taxes.sums.tasa_control %}
               <td class="text-right">{{ parcial_taxes.sums.tasa_control | number_format(2,',','.') }}</td>
               {%  endif %}
               <td class="text-center">--</td>
               <td class="text-center">--</td>
               <td class="text-center">--</td>
               <td class="text-center">--</td>
               <td class="text-center">--</td>
               <td class="text-center">--</td>
               <td class="text-right">{{ parcial_taxes.sums.ice_especifico | number_format(2,',','.') }}</td>
               <td class="text-right">{{ parcial_taxes.sums.ice_advalorem | number_format(2,',','.') }}</td>
               <td class="text-right">{{ parcial_taxes.sums.ice_advalorem_pagado | number_format(2,',','.') }}</td>
               <td class="text-right">{{ parcial_taxes.sums.ice_advalorem_diferencia | number_format(2,',','.') }}</td>
               <td class="text-right">{{ parcial_taxes.sums.total_ice | number_format(2,',','.') }}</td>
               <td class="text-right">{{ parcial_taxes.sums.prorrateos_total | number_format(2,',','.') }}</td>
               <td class="text-right">{{ parcial_taxes.sums.indirectos | number_format(2,',','.') }}</td>
               <td class="text-right">{{ parcial_taxes.sums.costo_total | number_format(2,',','.') }}</td>
               <td class="text-center">--</td>
               <td class="text-center">--</td>
            </tr>
         </table>
		  <strong class="text-primary">Reliquidacion de Ice Advalorem:</strong>
         <div class="well well-sm" style="font-size: 14px;height: 40px;">
         	<span class="col-md-3">
            Ice Advalorem: 
            <strong>{{ parcial_taxes.sums.ice_advalorem  | number_format(3,',','.')}}</strong>
            </span>
            <span class="col-md-3">
            Ice Advalorem Pagado: 
            <strong>{{ parcial_taxes.sums.ice_advalorem_pagado  | number_format(3,',','.')}}</strong>
            </span>
            <span class="col-md-3 text-danger">
            ICE Advalorem Por Pagar: 
            <strong>{{ parcial_taxes.sums.ice_advalorem_diferencia  | number_format(3,',','.')}}</strong>
            </span>
      </div>
      </div>
      </div>
      </div>
<hr />
<div class="row">
   <div class="col-md-4">
      {% if parcial.bg_isliquidated == 1 and parcial.bg_isclosed == 0  %}
         <a class="btn btn-sm btn-primary" href="{{ rute_url }}impuestos/reverso/pc/{{parcial.id_parcial}}">
            <span class="fa fa-refresh"></span> Reingreso Liquidación
         </a>
      {% endif %}
      <a href="{{ rute_url }}parcial/presentar/{{ parcial.id_parcial }}" class="btn btn-sm btn-default">
      <span class="fa fa-list"></span>
      Volver al Parcial
      </a>
   </div>  
   <div class="col-md-2"></div>
   <div class="col-md-6 text-right">
      <a href="{{ rute_url }}pedido/presentar/{{ order.nro_pedido }}" class="btn btn-sm btn-default"> 
      <span class="fa fa-check"></span>Volver al Pedido </a>
       {% if parcial.bg_isclosed == 0 %}      
      &nbsp;&nbsp;
      <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">
      <span class="fa fa-save"></span> Liquidar Parcial
      </button>      
   {% endif %}
   </div>   
</div>
</div>
{% include 'forms/frm-cierre-pedido.html.twig'  %}

