<div class="row">
   <div class="col-md-4">
      <div class="text-tittle">Par&aacute;metros compatidos por el parcial </div>
      <table class="table table-condensed table-bordered table-hover">
         <thead>
            <tr>
               <th>Concepto</th>
               <th>Valor</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td class="text-right brackground-gray"><strong>Nro Facturas Infomativas</strong></td>
               <td class="text-right">{{ numberInfoInvoices | number_format(0,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Moneda</strong></td>
               <td class="text-right"> {{ paramsParcial.moneda }} </td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Tipo de Cambio</strong></td>
               <td class="text-right">{{ paramsParcial.tipo_cambio | number_format(6,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>FOB</strong></td>
               <td class="text-right">$ {{ paramsParcial.fob_parcial | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Flete</strong></td>
               <td class="text-right">$ {{ paramsParcial.flete_parcial | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Seguro</strong></td>
               <td class="text-right">$ {{ paramsParcial.seguro_parcial | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong> Fodinfa Parcial</strong></td>
               <td class="text-right">$ {{ paramsParcial.fodinfa_parcial | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong> Etiquetas Fiscales</strong></td>
               <td class="text-right">$ {{ paramsParcial.val_etiquetas_fiscales | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Otros Impuestos</strong></td>
               <td class="text-right">$ {{ parcial.otros | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Parámetro Etiquetas Fiscales</strong></td>
               <td class="text-right">$ {{ paramsParcial.etiquetas_fiscales | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Parámetro IVA</strong></td>
               <td class="text-right">{{ (paramsParcial.iva_param * 100) | number_format(2,',','.') }} %</td>
            </tr>
            <!-- <tr>
               <td class="text-right brackground-gray"><strong>Parámetro Fodinfa</strong></td>
               <td class="text-right">{{ (paramsParcial.fondinfa *100) | number_format(2,',','.') }} %</td>
               </tr> -->
            <tr>
               <td class="text-right brackground-gray"><strong>Parámetro Base ICE Advalorem</strong></td>
               <td class="text-right">{{ paramsParcial.base_ice_advalorem | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Parámetro ICE Específico</strong></td>
               <td class="text-right">{{ paramsParcial.ice_especifico | number_format(2,',','.') }}</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="col-md-8">
      <div class="text-tittle">
         Parámetros de Calculo Impuestos
      </div>
      <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-10">
            <div class="row well well-sm">
               <div class="col-md-2">Regimen: <strong>{{ order.regimen }}</strong></div>
               <div class="col-md-3">Incoterm: <strong>{{ order.incoterm }}</strong></div>
               <div class="col-md-3">Puerto: <strong>{{ order.ciudad_origen }}</strong></div>
               <div class="col-md-3">Pais: <strong>{{ order.pais_origen }}</strong> </div>
            </div>
         </div>
         <div class="col-md-1"></div>
      </div>
      <div class="col-md-1"></div>
      <form action="{{ rute_url }}impuestos/actualizar" method="post">
         <input type="hidden" name="id_parcial" value="{{ parcial.id_parcial }}">
         <div class="col-md-5" style="background-color: #f9f9f9; padding:22px">
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group" >
                     <label class="control control-checkbox">
                        Etiquetas Fiscales
                        <input 
                        type="checkbox" 
                        name="bg_have_etiquetas_fiscales" 
                        {% if parcial.bg_have_etiquetas_fiscales == 1 %}
                        checked="true"
                        {% endif %}
                        >
                        <div class="control_indicator"></div>
                     </label>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group">
                     <label>Moneda</label>
                     <input 
                        type="text" 
                        name="moneda"
                        value="{{ paramsParcial.moneda }}" 
                        required=""
                        disabled="" 
                        style="width:100%" 
                        >
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group">
                     <label>Otros Impuestos</label>
                     <input 
                        type="number" 
                        name="otros" 
                        value="{{ parcial.otros }}" 
                        step="0.01"
                        style="width:100%" 
                        >
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group">
                     <label>Observaciones</label>
                     <textarea 
                        style="width:100%;" 
                        rows="1" 
                        name="observaciones" 
                        placeholder="Observaciones" 
                        maxlength="250" 
                        required="" 
                        class="form-control pull-right" 
                        >{{ parcial.observaciones }}</textarea>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-5" style="background-color: #f9f9f9; padding:22px">
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group" >
                     <label class="control control-checkbox">
                        Tasa de Control
                        <input 
                        type="checkbox" 
                        name="bg_have_tasa_control"
                        {% if parcial.bg_have_tasa_control == 1 %}
                        checked="true"
                        {% endif %}
                        >
                        <div class="control_indicator"></div>
                     </label>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group">
                     <label>Tipo de Cambio</label>
                     <input 
                        type="number" 
                        name="tipo_cambio"
                        step="0.0000000000001"
                        required="" 
                        value="{{ paramsParcial.tipo_cambio }}" 
                        style="width:100%" 
                        {% if paramsParcial.moneda == 'DOLARES' %}
                        readonly=""
                        {% endif %}
                        >
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group">
                     <label>Exoneración Arancel (% Base Avalorem)</label>
                     <input 
                        type="number" 
                        name="exoneracion_arancel"
                        id="exoneracion_arancel" 
                        value="{{ parcial.exoneracion_arancel }}" 
                        step="0.01"
                        style="width:30%" 
                        >
                        <label for=""> 
                        <span class="text-primari" id='total_base_av'>
                        ({{ base_advalorem }})</span> 
                        </label>
                        <label for="">
                        <span class="text-info" id="descuento"></span>
                        </label>
                  </div>
               </div>
            </div>
            <br>
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group pull-right">
                     <button class="btn btn-sm btn-default" type="submit">
                     <span class="fa fa-refresh"></span> Actualizar
                     </button> 
                  </div>
               </div>
            </div>
         </div>
      </form>
      <div class="col-md-1"></div>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <div class="table-responsive">
         <table class="table table-condensed table-bordered table-hover table-striped">
            <tr>
               <th>#</th>
               <th>Producto</th>
               <th>Cajas</th>
               <th>Unds</th>
               <th>Costo Caja </th>
               <th>FOB </th>
               <th>Seguro</th>
               <th>Flete</th>
               <th>CIF</th>
               <th>Fodinfa</th>
               <th>Etiquetas Fiscales</th>
               <th>Tasa Control</th>
               <th>Otros</th>
               <th>Exaduana </th>
               <th>Ex. Exaduana </th>
               <th>Exaduana U</th>
               <th>Presentacion</th>
               <th>% Alcoholico</th>
               <th>ICE Esp U</th>
               <th>B Advaloren</th>
               <th>ICE Avalorem</th>
               <th>total ICE</th>
               <th>costo total de importacion</th>
               <th>costo unitario por caja</th>
               <th>costo unitario botella</th>
            </tr>
            {% set base_advalorem = 0 %}
            {% for infoInvoice in infoInvoices  %}
            {% for tax in infoInvoice.taxes %}
            {% set base_advalorem =  base_advalorem + tax.base_advalorem%}
            <tr>
               <td> {{ loop.index }}</td>
               <td nowrap=""> {{ tax.producto }} </td>
               <td class="text-right">{{ tax.nro_cajas | number_format(0,',','.') }} </td>
               <td class="text-right">{{ tax.unidades | number_format(0,',','.') }}</td>
               <td class="text-right">{{ tax.costo_caja  | number_format(3,',','.') }}</td>
               <td class="text-right">{{ tax.fob  | number_format(3,',','.') }}</td>
               <td class="text-right">{{  tax.seguro_aduana  | number_format(3,',','.') }}</td>
               <td class="text-right">{{  tax.flete_aduana  | number_format(3,',','.') }}</td>
               <td class="text-right">{{  tax.cif  | number_format(3,',','.') }}</td>
               <td class="text-right">{{  tax.fodinfa  | number_format(3,',','.') }}</td>
                {% if parcial.bg_have_etiquetas_fiscales == 1 %}
               <td class="text-right">{{  tax.etiquetas_fiscales  | number_format(3,',','.') }}</td>
                {% endif %}
                <td class="text-right">{{  0 | number_format(3,',','.') }}</td>

               <td class="text-right">{{  tax.tasa_control  | number_format(3,',','.') }}</td>
               <td class="text-right">{{  tax.otros_value  | number_format(3,',','.') }}</td>
               <td class="text-right">{{  tax.exaduana  | number_format(3,',','.') }}</td>
               <td class="text-right">{{  tax.exoneracion_value  | number_format(3,',','.') }}</td>
               <td class="text-right">{{  (tax.exaduana / tax.unidades)  | number_format(3,',','.') }}</td>
               <td class="text-right">{{  (tax.presentacion)  | number_format(0,',','.') }}</td>
               <td class="text-right">{{  (tax.grado_alcoholico)  | number_format(3,',','.') }}</td>
               <td class="text-right">{{  (tax.ice_especifico / tax.unidades)  | number_format(3,',','.') }}</td>
               <td class="text-right">{{  (tax.base_advalorem)  | number_format(3,',','.') }}</td>
               <td class="text-right">{{  (tax.ice_advalorem / tax.unidades)  | number_format(3,',','.') }}</td>
               <td class="text-right text-primary">
                  {{  (tax.ice_advalorem + tax.ice_especifico + tax.etiquetas_fiscales)  | number_format(3,',','.') }}
               </td>
               <td class="text-right text-primary">
                  {{  (tax.cif + tax.fodinfa + tax.ice_advalorem + tax.ice_especifico + tax.etiquetas_fiscales )  | number_format(3,',','.') }}
               </td>
               <td class="text-right text-primary">
                  {{  (tax.cif + tax.fodinfa + tax.ice_advalorem + tax.ice_especifico + tax.etiquetas_fiscales ) / tax.nro_cajas  | number_format(3,',','.') }}
               </td>
               <td class="text-right text-primary">
                  {{  (tax.cif + tax.fodinfa + tax.ice_advalorem + tax.ice_especifico + tax.etiquetas_fiscales )/ tax.unidades  | number_format(3,',','.') }}
               </td>
            </tr>
            {% endfor %}
            {% endfor %}
         </table>
      </div>
   </div>
</div>
<br>
<div class="row">
   <div class="col-md-6"></div>
   <div class="col-md-6 text-right">
      <a href="#" class="btn btn-sm btn-default"> <span class="fa fa-check"></span> Aplicar Y Cerrar</a>
      <a href="#" class="btn btn-sm btn-default"> <span class="fa fa-file-pdf-o"></span> Liquidacion PDF</a>
      <a href="{{rute_url}}parcial/presentar/{{parcial.id_parcial}}" class="btn btn-sm btn-default"> <span class="fa fa-arrow-left"></span> Volver A Parcial</a>
   </div>
</div>
<script>
	var base_advalorem = {{base_advalorem | number_format(3,'.')}}
	$('#total_base_av').text(base_advalorem)	

	$('#descuento').text('(' + (($('#exoneracion_arancel').val()) * base_advalorem)/100 + ')') 
	 
	$('#exoneracion_arancel').keyup(function(){
		
		value = ((($('#exoneracion_arancel').val()) * base_advalorem)/100)
		$('#descuento').text('(' + value + ')')
			
		})
	
</script>
