</pre>
<div class="row">
   <div class="col-md-4">
        <div class="text-tittle">Gastos compatidos por el parcial </div>
         <table class="table table-condensed table-bordered table-hover">
            <thead>
               <tr>
                  <th>Concepto</th>
                  <th>Valor</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="text-right brackground-gray"><strong>Nro Facturas Infomativas</strong></td>
                  <td class="text-right">{{ numberInfoInvoices | number_format(0,',','.') }}</td>
               </tr>
               <tr>
                  <td class="text-right brackground-gray"><strong>Moneda</strong></td>
                  <td class="text-right">{{ params.moneda }}</td>
               </tr>
               <tr>
                  <td class="text-right brackground-gray"><strong>Tipo de Cambio</strong></td>
                  <td class="text-right">{{ params.tipo_cambio | number_format(6,',','.') }}</td>
               </tr>
               <tr>
                  <td class="text-right brackground-gray"><strong>Etiquetas Fiscales</strong></td>
                  <td class="text-right">{{ params.etiquetas_fiscales | number_format(2,',','.') }}</td>
               </tr>
               <tr>
                  <td class="text-right brackground-gray"><strong>FOB</strong></td>
                  <td class="text-right">{{ params.fob | number_format(2,',','.') }}</td>
               </tr>
               <tr>
                  <td class="text-right brackground-gray"><strong>Flete</strong></td>
                  <td class="text-right">{{ params.flete_aduana | number_format(2,',','.') }}</td>
               </tr>
               <tr>
                  <td class="text-right brackground-gray"><strong>Seguro</strong></td>
                  <td class="text-right">{{ params.seguro_aduana | number_format(2,',','.') }}</td>
               </tr>
            </tbody>
         </table>
   </div>
   <div class="col-md-8">
   	<div class="text-tittle">
   		Parámetros de Calculo Impuestos
   	</div>
   	<br>
   	<br>
   	<form action="{{rute_url}}impuestos/actualizarParametros" method="post">
      <div class="row">
          <div class="col-md-3">
                  <h4 class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;Pedido <strong>091/17</strong></h4>
               </div>
               <div class="col-md-3">
                  <div class="form-group">
                     <label>Moneda</label>
                     <input 
                        type="text" 
                        name="moneda" 
                        value="EUROS"
                        class="form-control" 
                        value="{{ params.moneda }}" 
                        required=""
                        disabled="" 
                        >
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="form-group">
                     <label>Tipo de Cambio</label>
                     <input 
                        type="number" 
                        name="tipo_cambio"
                        class="form-control" 
                        step="0.0000001"
                        required="" 
                        value="{{ params.tipo_cambio }}" 
                        >
                  </div>
               </div>
               <div class="col-md-3">
                  <br>
                  <div class="form-group">
                     <button class="btn btn-sm btn-default" type="submit" value="span">
                     <span class="fa fa-refresh"></span> Actualizar
                     </button> 
                  </div>
               </div>
      </div>  
      <div class="row">
 			<div class="col-md-3"></div>
 			<div class="col-md-6">
 				<div class="form-gruop">
 				<label class="control control-checkbox">
 					Tomar en cuenta Etiquetas
               <input type="checkbox" name="bg_have_etiquetas_fisclaes" checked="true">
                  <div class="control_indicator"></div>
               </label>
 				</div>
 			</div>
      </div>
      <br>
                  <div class="row">
               <div class="col-md-1"></div>
               <div class="col-md-10">
                  <div class="row well well-sm">
                     <div class="col-md-2">Regimen: <strong>{{ order.regimen }}</strong></div>
                     <div class="col-md-3">Incoterm: <strong>{{ order.incoterm }}</strong></div>
                     <div class="col-md-3">Puerto: <strong>{{ order.ciudad_origen }}</strong></div>
                     <div class="col-md-3">Pais: <strong>{{ order.pais_origen }}</strong> </div>
                  </div>
               </div>
                  <div class="col-md-1"></div>
            </div> 
        </form>
   </div>
</div>
   <div class="row">
      <div class="col-md-12">
      <div class="table-responsive">         
         <table class="table table-condensed table-bordered table-hover table-striped">
            <tr>
               <th>#</th>
               <th>Producto</th>
               <th>Cajas</th>
               <th>Unds</th>
               <th>Costo Caja </th>
               <th>FOB </th>
               <th>Seguro</th>
               <th>Flete</th>
               <th>CIF</th>
               <th>Fodinfa</th>
               <th>CIF + Fodinfa</th>
               <th>Arancel Advaloren</th>
               <th>Arancel Especifico</th>
               <th>Etiquetas Fiscales</th>
               <th>Ex aduana unitario</th>
               <th>Base advaloren legal</th>
               <th>Presentacion</th>
               <th>% Alcoholico</th>
               <th>Arancel especifico unitario</th>
               <th>Arancel advalores</th>
               <th>ICE unitario</th>
               <th>total ICE</th>
               <th>prorrateo del costo indirectos</th>
               <th>costo total de importacion</th>
               <th>costo unitario botella</th>
               <th>indirectos para precio entrega</th>
               <th>costo unitario por caja</th>
            </tr>
            {% for infoInvoice in infoInvoices  %}
            {% for product in infoInvoice.products %}
            <tr>
               <td> {{ loop.index }}</td>
               <td nowrap=""> {{ product.nombre }} </td>
               <td>{{ product.nro_cajas }}</td>
               <td>{{ product.nro_cajas * product.cantidad_x_caja }}</td>
               <td>{{ product.costo_caja | number_format(2,',','.')}}</td>
               <td>{{ (product.costo_caja * product.nro_cajas) | number_format(2,',','.') }}</td>
            </tr>
               {% endfor %}
               {% endfor %}
         </table>
      </div>
   </div>
   </div>
<br>
   <div class="row">
      <div class="col-md-6"></div>
      <dic class="col-md-6 text-right">
         <a href="#" class="btn btn-sm btn-default"> <span class="fa fa-check"></span> Aplicar Y Cerrar</a>
         <a href="#" class="btn btn-sm btn-default"> <span class="fa fa-file-pdf-o"></span> Liquidacion PDF</a>
         <a href="{{rute_url}}parcial/presentar/{{parcial.id_parcial}}" class="btn btn-sm btn-default"> <span class="fa fa-arrow-left"></span> Volver A Parcial</a>
      </dic>
   </div>