<div class="well well-sm">
   <div class="row">
      <div class="col-sm-3">
         <strong>Valor FOB:</strong> 
         <span class="text-primary">
         $ {{infoInvoice.valor | number_format(2, '.', ',') }}      
         </span>  
      </div>
      <div class="col-sm-2">
         <strong>
         Seguro:</strong> 
         <span class="text-primary">
         {{ infoInvoice.seguro_aduana | number_format(2, '.', ',')}}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>
         Felete:</strong> 
         <span class="text-primary">
         <span>
         {{ infoInvoice.flete_aduana | number_format(2, '.', ',') }}
         </span>
         </span>
      </div>
      <div class="col-sm-2">
        <strong>CIF:</strong>
        <strong class="text-primary">{{ (infoInvoice.flete_aduana + infoInvoice.seguro_aduana + infoInvoice.valor) | number_format(2, '.', ',') }}</strong>
      </div>
      <div class="col-sm-3">
         <strong>
         Fecha Registro:</strong> 
         <span class="text-primary">
         {{ infoInvoice.date_create }}            
         </span>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <strong>Tiempo en Almacenera:</strong> 
         <span>{{ warenHouseDays | number_format(0)}}</span>
      </div>
      <div class="col-sm-2">
         <strong>P. Origen:</strong> 
         <span class="text-primary">
         {{ order.pais_origen }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>C Origen:</strong> 
         <span class="text-primary">
         {{ order.ciudad_origen  }}            
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Incoterm:</strong> 
         <span class="text-primary">
         {{order.incoterm}}
         </span>         
      </div>
      <div class="col-sm-3">
         <strong>Creado Por:</strong> 
         {{infoInvoice.user.nombres}}
      </div>
   </div>
</div>
<div id="detalles">
   <div class="row">
      <div class="col-sm-7 div-bordered">
               <table  class="table table-hover table-condensed table-striped">
         <thead>
            <tr style="background-color: #333; color: #fff;">
               <div class="text-tittle">
                  RESUMEN DE ESTADO GASTOS NACIONALIZACIÓN FACTURA INFORMATIVA {{ infoInvoice.nro_factura_informativa }}
                  PARCIAL {{ partial | number_format(0)}} DEL PEDIDO     [{{order.nro_pedido}}]
               </div>
            </tr>
         </thead>
         <tbody>
            <tr style="background-color: #fff;">
               <th class="text-center">CONCEPTO</th>
               <th class="text-center">F. Inicio</th>
               <th class="text-center">F. Fin</th>
               <th class="text-center">VALOR</th>
               <th class="text-center">ESTADO</th>
            </tr>            
            {% set isOk = true %}
            {% for expense in expenses  %}
            {% set sumExpenses = sumExpenses + expense.valor_provisionado %}
            <tr>
               <td>{{expense.concepto }}</td>
               <td>{{ expense.fecha }}</td>
               {% if expense.fecha_fin == null %}
               <td class="text-center"> --- </td>
               {% else %}
                  <td>{{ expense.fecha_fin }}</td>
               {% endif %}
               <td>{{expense.valor_provisionado}}</td>
                  {% if expense.valor_provisionado > 0 %}
                     <td class="success">
                     OK <a href="{{rute_url}}gstnacionalizacion/editar/{{expense.id_gastos_nacionalizacion}}">
                     <span class="fa fa-pencil"></span> Editar
                     </a>
                     </td>
                  {% else %}
                  {% set isOk = false %}
                     <td class="danger">
                        <a href="{{rute_url}}gstnacionalizacion/editar/{{expense.id_gastos_nacionalizacion}}">
                     Registrar                           
                        </a>
                  </td>
                  {% endif %}
            </tr>
            {% endfor %}
          <tr>
          <td> <strong>Total Facturas Provisiones Gastos Iniciales (DOLARES):</strong>
          <td>
          	<strong>
          	{{sumExpenses}}
          	</strong>
          </td>
          <td class="text-center">
          	---
          </td>
          </tr>
         </tbody>
      </table>
         {% include 'sections/subsections/table-infoinvoice-info.html.twig' %}   
         <br><br><br><br><p>
         <a href="{{rute_url}}facinformativa/presentar/{{infoInvoice.id_factura_informativa}}" class="btn btn-default btn-sm">
         <span class="fa fa-arrow-left fa-fw"></span>
         Volver A Factura Informativa [{{infoInvoice.nro_factura_informativa}}]
         </a>
         &nbsp;&nbsp;&nbsp;&nbsp;
         {% if isOk == true %}
         <a href="{{rute_url}}gstnacionalizacion/impuestosFI/{{infoInvoice.id_factura_informativa}}" class="btn btn-primary btn-sm">
         <span class="fa fa-gears fa-fw"></span>
         Generar Impuestos Factura Informativa [{{infoInvoice.nro_factura_informativa}}]
      </a>
         {% endif %}
      </p>
      </div>
      <div class="col-sm-5 div-bordered">
         {% include 'sections/subsections/table-rates-partial.html.twig' %}            
      </div>
   </div>  
</div>

   