{% if have_euros == true %}
	{% set simbol = '&euro;' %}
	{% set money = 'EUROS' %}
{% else %}
	{% set simbol = '$' %}
	{% set money = 'DOLARES' %}
{% endif %}

 <div class="well well-sm">
   <div class="row">
      <div class="col-sm-3">
         <strong>Valor FOB:</strong>
         {{ simbol | raw }} 
         <strong class="text-primary">
         {{ info_invoices.fob_total | number_format(2, '.', ',') }}
         </strong>  
         {% if have_euros == true %}
         <small class="label label-warning">{{info_invoices.tipo_cambio | number_format(4)  }}</small>
         {% endif %}      
      </div>
      <div class="col-sm-2">
         <strong>
         Seguro Aduana:</strong> 
         <span class="text-primary">
         {{ info_invoices.seguro_aduana | number_format(2, '.', ',')}}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>
         Felete Aduana:</strong> 
         <span class="text-primary">
         <span>
         {{ info_invoices.flete_aduana| number_format(2, '.', ',') }}
         </span>
         </span>
      </div>
      <div class="col-sm-2">
         <strong>CIF:</strong>
         <strong class="text-primary">
         {{ simbol | raw }}
         {{ info_invoices.cif_parcial }}
         </strong>
      </div>
      <div class="col-sm-3">
         <strong>
         Fecha Registro:</strong> 
         <span class="text-primary">
         {% if parcial.date_create != null %}
         {{ parcial.date_create | date('d/m/Y H:m')}}            
         {% endif %}
         </span>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <strong>Tiempo en Almacenera:</strong> 
         {{ dates_parcial.mounths }} meses
          {{ dates_parcial.days }} días /
          <small class="text-info"> {{ dates_parcial.all_days }} días </small>
      </div>
      <div class="col-sm-2">
         <strong>P. Origen:</strong> 
         <span class="text-primary">
         {{ order.pais_origen }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>C Origen:</strong> 
         <span class="text-primary">
         {{ order.ciudad_origen  }}            
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Incoterm:</strong> 
         <span class="text-primary">
         {{ order.incoterm }}
         </span>         
      </div>
      <div class="col-sm-3">
         <strong>Creado Por:</strong> 
         {{ user.nombres }}
      </div>
   </div>
</div>
<div id="detalles">
   <div class="row">
      <div class="col-sm-7 div-bordered">
         <table  class="table table-hover table-condensed table-striped">
            <thead>
               <tr style="background-color: #333; color: #fff;">
                  <div class="text-tittle">
                     RESUMEN DE ESTADO GASTOS NACIONALIZACIÓN PARCIAL {{ parcial.id_parcial }} DEL PEDIDO     [{{order.nro_pedido}}]
                  </div>
               </tr>
            </thead>
            <tbody>
               <tr style="background-color: #fff;">
                  <th class="text-center">CONCEPTO</th>
                  <th class="text-center">F. Inicio</th>
                  <th class="text-center">F. Fin</th>
                  <th class="text-center">VALOR</th>
                  <th class="text-center">ESTADO</th>
               </tr>
               {% set sumExpenses = 0 %}
               {% for expense in partial_expenses.partial_expenses  %}
               {% set sumExpenses = sumExpenses + expense.valor_provisionado %}
               <tr>
                  <td>
                        {% if expense.paids == False %}
                       		<small class="label label-danger"> &nbsp;Provisión&nbsp;</small>
                         {%  else %}
               		{% if expense.bg_closed == 0 %}
               			<small class="label label-warning">Just. Parcial</small>
               		{% else %}
               		{% if expense.tipo == 'NO PROVISIONADO' %}
               				<small class="label label-inverse"><span class="text-danger">No Provisionado</span></small>
               			{% else %}           			
    						<small class="label label-success">Justificado</small>           		
		               {% endif %}           		
	               {% endif %}
	               {% for invoice in expense.invoices %}
	               		<a href="{{ rute_url }}facturapagos/presentar/{{ invoice }}">
							<span class="fa fa-eye"></span> 
	               		</a>
	               {% endfor %}
               {% endif %}
               {{expense.concepto }}
               </td>
                  <td>{{ expense.fecha | date('d/m/Y')}}</td>
                  {% if ((expense.fecha_fin == null) or (expense.fecha_fin == '0000-00-00')) %}
                  <td class="text-center"> --- </td>
                  {% else %}
                  <td>{{ expense.fecha_fin | date('d/m/Y') }}</td>
                  {% endif %}
                  <td class="text-right">{{expense.valor_provisionado}}</td>
                  {% if expense.valor_provisionado > 0 %}
                  <td class="success pull-rigth" style=" width: 1px; white-space: nowrap;">
                  	<span class="fa fa-check text-success"></span>
                     <a href="{{rute_url}}gstnacionalizacion/editar/{{expense.id_gastos_nacionalizacion}}">
                     <span class="fa fa-pencil"></span> editar
                     </a>
                     <a href="{{rute_url}}gstnacionalizacion/eliminar/{{expense.id_gastos_nacionalizacion}}" class="text-danger">
                     <span class="fa fa-trash"></span> eliminar
                     </a>
                  </td>
                  {% else %}
                  <td class="danger" style=" width: 1px; white-space: nowrap;">
                  <span class="fa fa-ban text-danger"></span>
                     <a href="{{rute_url}}gstnacionalizacion/editar/{{expense.id_gastos_nacionalizacion}}">
                     Registrar                           
                     </a>
                     <a href="{{rute_url}}gstnacionalizacion/eliminar/{{expense.id_gastos_nacionalizacion}}" class="text-danger">
                     <span class="fa fa-trash"></span> eliminar 
                     </a>
                  </td>
                  {% endif %}
               </tr>
               {% endfor %}
               <tr style="background-color: #c1c1c1;">
                  <td colspan="3" class="text-right" style="background-color: #fff;"> <strong>SUMAS:</strong>
                  <td class="text-right">
                     <strong>
                     {{ sumExpenses | number_format(3,',','.')}}
                     </strong>
                  </td>
                  <td class="text-center">
                     ---
                  </td>
               </tr>
            </tbody>
         </table>
         {% include 'sections/subsections/table-infoinvoice-info.html.twig' %}   
         <br><br>
         <p>
            <a href="{{rute_url}}pedido/presentar/{{parcial.nro_pedido}}" class="btn btn-default btn-sm">
            <span class="fa fa-cubes"></span>
            Volver Al Pedido
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            
            {% if  info_invoices.values_isok == true %}
             	{%  if partial_expenses.all_ok == true %}
             		<a  href="{{rute_url}}impuestos/pc/{{parcial.id_parcial}}" class="btn btn-success btn-sm pull-right">
                 		 <span class="fa fa-money"></span>
              		  Vizualizar Impuestos Parcial 
              			</a>
         	{% else %}
         		<strong class="text-danger pull-right btn btn-sm">
        		<span class="fa fa-ban"></span>
        		Existen Provisiones Sin Valor
        	</strong>
         	{% endif %}
        {% else %}
        	<strong class="text-danger pull-right btn btn-sm">
        	<span class="fa fa-ban"></span>
        	Facturas Informativas Incompletas o Inexistentes
        	</strong>
        {% endif %}            
         </p>
      </div>
      <div class="col-sm-5 div-bordered">
         {% include 'sections/subsections/table-rates-partial.html.twig' %}            
      </div>
   </div>
</div>