<div class="well well-sm">
   <div class="row">
      <div class="col-sm-3">
         <strong>Valor FOB Total:</strong> 
         <span class="fa fa-usd">/</span>
         <strong class="text-primary">
         {{fob | number_format(2, '.', ',') }}      
         </strong>  
      </div>
      <div class="col-sm-3">
         <strong>
         Nro Pedido:</strong> 
         <span class="text-primary">
         {{ order.nro_pedido }}
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         Regimen:</strong> 
         <span class="text-primary">
         <strong class="text-primary">
         {{ order.regimen  }}
         </strong>   
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         Fecha Registro:</strong> 
         <span class="text-primary">
         {{ order.date_create }}            
         </span>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <strong>Tiempo Bodega:</strong> 
      </div>
      <div class="col-sm-2">
         <strong>P. Origen:</strong> 
         <span class="text-primary">
         {{ order.pais_origen }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>C Origen:</strong> 
         <span class="text-primary">
         {{ order.ciudad_origen  }}            
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Incoterm:</strong> 
         <span class="text-primary">
         {{order.incoterm}}
         </span>         
      </div>
      <div class="col-sm-2">
         <strong>Creado Por:</strong> 
         <span>{{createBy[0]['nombres']}}
         </span>
      </div>
   </div>
</div>

<div id="detalles">
   <div class="row">
      <div class="col-sm-7 div-bordered">
               <table  class="table table-hover table-condensed table-striped">
         <thead>
            <tr style="background-color: #333; color: #fff;">
               <div class="text-tittle">
                  RESUMEN DE ESTADO GASTOS INICIALES PEDIDO 
                  [{{order.nro_pedido}}]
               </div>
            </tr>
         </thead>
         <tbody>
            <tr style="background-color: #fff;">
               <th class="text-center">CONCEPTO</th>
               <th class="text-center">VALOR</th>
               <th class="text-center">ESTADO</th>
            </tr>            
            <tr>
               <td>Facturas Producto  <strong>{{order.nro_pedido}}</strong> Proveedor Internacional</td>
               {% if invoicesOrder == false %}
               <td>No Registrado</td>
               <td class="danger">
                  <a href="{{rute_url}}pedidofactura/nuevo/{{order.nro_pedido}}/">
                  Registrar 
                  </a>
               </td>
               {% else %}
               {% if minimal.valuesOrder.statusInvoices == false %}
               <td>Inconsistencias</td>   
               <td class="danger">
                  <a href="{{rute_url}}pedido/presentar/{{order.nro_pedido}}">
                     Validar                     
                  </a>
                  </td>
               {% else %}
               <td>{{ minimal.valuesOrder.totalInvoices | number_format(2,',','.') }}</td>   
               <td class="success">OK</td>
               {% endif %}
               {% endif %}
            </tr>
            <tr>
            <td>Fecha Arribo</td>
               {% if order.fecha_arribo == NULL %}
               <td>No Registrado</td>
               <td class="danger">
                  <a href="{{rute_url}}pedido/editar/{{order.nro_pedido}}">
               Registrar
               </a>
               </td>
               {% else %}
                  <td>{{ order.fecha_arribo }} </td>
                  <td class="success">OK</td>
               {% endif %}
                                             
            </tr>
            <tr>
               <td>Días Libres Demoraje </td>
               {% if order.dias_libres == 0 %}
               <td>No Registrado</td>
               <td class="danger">
                  <a href="{{rute_url}}pedido/editar/{{order.nro_pedido}}">
               Registrar
               </a>
               </td>
               {% else %}
                  <td>{{ order.dias_libres }} </td>
                  <td class="success">OK</td>
               {% endif %}
               
            </tr>
            {% for expense in minimal.initExpenses %}
            <tr>
               <td>{{expense.concepto }}</td>
               {% if expense.concepto == 'GASTO ORIGEN' %}
                  {% if minimal.statusOrder.have_gasto_origen != false %}
                     <td>
                        {{expense.valor_provisionado}}
                     </td>
                     {% if expense.valor_provisionado > 0 %}
                        <td class="success">OK</td>
                        {% else %}
                        <a href="{{rute_url}}gstinicial/editar/{{expense.id_gastos_nacionalizacion}}">
                     Registrar                           
                        </a>
                     {% endif %}
                  {% else %}
                     <td>No Requerido</td>
                     <td class="success">OK</td>
                  {% endif %}
               {% else %}
                  <td>{{expense.valor_provisionado}}</td>
                  {% if expense.valor_provisionado > 0 %}
                     <td class="success">OK</td>
                  {% else %}
                     <td class="danger">
                        <a href="{{rute_url}}gstinicial/editar/{{expense.id_gastos_nacionalizacion}}">
                     Registrar                           
                        </a>
                  </td>
                  {% endif %}
                  
               {% endif %}
            </tr>

            {% endfor %}
         </tbody>
      </table>
         {% include 'sections/subsections/table-order-info.html.twig' %}   
         <br><br><br><br><p>
         <a href="{{rute_url}}pedido/presentar/{{order.nro_pedido}}" class="btn btn-default btn-sm">
         <span class="fa fa-arrow-left fa-fw"></span>
         Volver Al Pedido [{{order.nro_pedido}}]
         </a>
         {% if isOk == true %}
         
         {% if order.regimen == '70' %}
         <a href="{{rute_url}}facinformativa/nuevo/{{order.nro_pedido}}" class="btn btn-primary btn-sm pull-right">
         <span class="fa fa-file fa-fw"></span>
         Generar Factura Informativa [{{order.nro_pedido}}]
         </a>
         {% else %}
            <a href="{{rute_url}}nacionalizacion/nuevo/{{order.nro_pedido}}" class="btn btn-success btn-sm pull-right">
         <span class="fa fa-file fa-fw"></span>
         Nacionalizar Pedido [{{order.nro_pedido}}]
         </a>
         {% endif %}
         {% endif %}
      </p>
      </div>
      <div class="col-sm-5 div-bordered">
         {% include 'sections/subsections/table-rates.html.twig' %}            
      </div>
   </div>  

   