{% include 'base/header.html.twig' %}
{% include 'base/navbarheader.html.twig' %}
{% include 'base/navbarleft.html.twig' %}
{% include 'base/content.html.twig' %}
{% if viewMessage == true %} 	
	<div class="well">
		<h3 class="text-primary">	{{ message }} </h3><br><br>
		<p>
		{% if formError == true %}
				Debe especificar valores para:
				<br><br>
				<ul>
			{% for input in data.columns %}
			<li> {{ input }}</li>
			{% endfor %}
			</ul>
			<br>
			Los siguientes campos no tienen la longitud correcta
			<ul>
			{% for input in data.len %}
			<li> {{ input }}</li>
			{% endfor %}
			</ul>		
		{% endif %}

		{% if duplicateRow %}
			<a href="{{rute_url}}facinformativa/presentar/{{idInfoInvoice}}" class="btn btn-warning btn-sm">
				<span class="fa fa-eye"></span> &nbsp;Ver Registro {{idInfoInvoice}}
			</a>
		{% endif %}
		
			<!-- Si se elimina una factura informativa vuelve al pedido  -->
			{% if deleted == true %} 
						<a href="{{rute_url}}facinformativa/presentar/{{ id_row }}">
				<button>
					<span class="fa fa-list"></span>
					Ver
				</button>
				</a>
			{% endif %}
		</p>
	</div>
{% endif %}

{% if show == true %}
	{% include 'sections/mostrar-factura-informativa.html.twig' %}
{% endif %}

{% if create_invoice == true %}
	{% include 'forms/frm-factura-informativa.html.twig' %}  
{% endif %}

{% if edit_invoice == true %}
	{% include 'forms/frm-factura-informativa-edit.html.twig' %}    
{% endif %}

{% include 'base/content_close.html.twig' %}
{% include 'base/signaturefoot.html.twig' %}
{% include 'base/footer.html.twig' %}