<!DOCTYPE html>
<!-- header -->    
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aplicacion de Manejo de importaciones">
    <meta name="author" content="Eduardo Villota eduardouio7@gmail.com">
    <title>{{title}}</title>
    <!-- Jauery Autocomplete CSS -->   

    <!-- Bootstrap Core CSS -->
    <link href="{{base_url}}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   
   <link rel="stylesheet" type="text/css" href="{{base_url}}vendor/datepicker/css/bootstrap-datepicker.min.css">
    <!-- MetisMenu CSS -->
    <link href="{{base_url}}vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{base_url}}css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{base_url}}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom Styles -->
    <link href="{{base_url}}css/cordovez.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="{{base_url}}vendor/jquery/jquery.min.js"></script>
    <script src="{{base_url}}js/jquery.maskedinput.js"></script>
    <script src="{{base_url}}vendor/jquery/jqueryui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{base_url}}vendor/jquery/jqueryui-min.css"> 
    <script src="{{base_url}}vendor/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="{{base_url}}js/chart.bundle.min.js"></script>
    <script src="{{base_url}}js/chart.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
        </script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
        </script>
        <![endif]-->
</head>