<body>
<!-- ./header -->    
    <div id="wrapper">
        <!-- Navigation -->
        
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                  <a class="navbar-brand" style="color:#333;" href="{{base_url}}"> <i class="glyphicon glyphicon-globe"></i> &nbsp;Cordovez APP Import </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right" style="font-size: 14px;">
                <li>
                    <a href="{{rute_url}}pedido/nuevo/">
                     <i class="fa fa-cubes fa-fw"></i> 
                     <small>Nuevo Pedido</small>
                     </a>
                </li>
                <li>
                    <a href="{{rute_url}}facturapagos/nuevo/">
                        <i class="fa fa-file-text-o fa-fw"></i>
                        <small>Justificar Provision</small>
                    </a>
                </li>
                <li>
                    <a href="{{rute_url}}proveedor/nuevo/">
                     <i class="fa fa-users fa-fw"></i> 
                     <small>Proveedor</small>
                     </a>
                </li>
                <li>
                    <a href="{{rute_url}}producto/nuevo/">
                     <i class="fa fa-cube fa-fw"></i> 
                     <small>Nuevo Producto</small>
                     </a>
                </li>
                         <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{{ rute_url }}userprofile/"><i class="fa fa-user fa-fw"></i> Perfil</a>
                        </li>                        
                        <li class="divider"></li>
                        <li><a href="{{base_url}}index.php/login/cerrarSesion"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
            