<form action="{{rute_url}}impuestos/liquidarIvaParcial/" method="post" id="app_liquidaciones">
    <input type="hidden" name="id_parcial" value="{{ parcial.id_parcial }}">
    <input type="hidden" name="base_fodinfa" value="{{ parcial_taxes.data_general.base_aranceles.base_fodinfa }}">
    <input type="hidden" name="base_arancel_advalorem" value="{{ parcial_taxes.data_general.base_aranceles.base_arancel_advalorem }}">
    <input type="hidden" name="base_arancel_especifico" value="{{ parcial_taxes.data_general.base_aranceles.base_arancel_especifico }}">
    <input type="hidden" name="base_ice_especifico" value="{{ parcial_taxes.data_general.base_aranceles.base_ice_especifico }}">
    <input type="hidden" name="base_ice_advalorem" value="{{ parcial_taxes.data_general.base_aranceles.base_ice_advalorem }}">
    <input type="hidden" name="porcentaje_ice_advalorem" value="{{ parcial_taxes.data_general.base_aranceles.porcentaje_ice_advalorem }}">
    <input type="hidden" name="base_iva" value="{{ parcial_taxes.data_general.base_aranceles.base_iva }}">
    <input type="hidden" name="base_etiquetas" value="{{ parcial_taxes.data_general.base_aranceles.base_etiquetas }}">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Detalle de liquidación SENAE</h4>
                </div>
                <div class="modal-body" style="padding:25px;">
                    <div class="row">
                        <table class="table table-bordered table-striped table-condensed">
                            <tr>
                                <th>Concepto</th>
                                <th>Automático</th>
                                <th>Pagado</th>
                                <th>Diferencias</th>
                                <th>Sts</th>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">ARANCEL ADVALOREM </td>
                                <td class="text-right">
                                    ${ parcial_taxes.sums.arancel_advalorem_pagar | money }
                                </td>
                                <td class="text-right">
                                    <input type="number" class="text-right" v-model= "complete_liquidation_data.arancel_advalorem_pagar_pagado" required="required" step="0.001" v-bind:disabled="parcial_taxes.sums.arancel_advalorem_pagar  <= 0.01">
                                </td>
                                <td class="text-right">
                                    <strong v-bind:class="{ 'text-danger' : (Math.round(Math.abs(parcial_taxes.sums.arancel_advalorem_pagar - complete_liquidation_data.arancel_advalorem_pagar_pagado)*100)/100) > 0.03 }"> ${ (parcial_taxes.sums.arancel_advalorem_pagar -  complete_liquidation_data.arancel_advalorem_pagar_pagado) | money }</strong>
                                </td>
                                <td class="text-center">
                                    <label class="label label-danger" v-if="(Math.round(Math.abs(parcial_taxes.sums.arancel_advalorem_pagar - complete_liquidation_data.arancel_advalorem_pagar_pagado)*100)/100) > 0.03"><i class="fa fa-ban"></i> Error</label>
                                    <label class="label label-warning" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.arancel_advalorem_pagar - complete_liquidation_data.arancel_advalorem_pagar_pagado)*100)/100) <= 0.03 && (Math.round(Math.abs(parcial_taxes.sums.arancel_advalorem_pagar - complete_liquidation_data.arancel_advalorem_pagar_pagado)*100)/100) > 0.01"><i class="fa fa-warning"> Diferencia</i></label>
                                    <label class="label label-success" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.arancel_advalorem_pagar - complete_liquidation_data.arancel_advalorem_pagar_pagado)*100)/100) <= 0.01"><i class="fa fa-fa-check-circle"></i> OK </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">ARANCEL ESPECIFICO</td>
                                <td class="text-right">
                                    ${ parcial_taxes.sums.arancel_especifico_pagar | money }
                                </td>
                                <td class="text-right">
                                    <input type="number" class="text-right"  v-model="complete_liquidation_data.arancel_especifico_pagar_pagado" required="required" step="0.001" v-bind:disabled="parcial_taxes.sums.arancel_especifico_pagar  <= 0.01"/>
                                </td>
                                <td class="text-right">
                                    <strong v-bind:class="{ 'text-danger' : (Math.round(Math.abs(parcial_taxes.sums.arancel_especifico_pagar - complete_liquidation_data.arancel_especifico_pagar_pagado)*100)/100) > 0.03 }"> ${ (parcial_taxes.sums.arancel_especifico_pagar -  complete_liquidation_data.arancel_especifico_pagar_pagado) | money }</strong>
                                </td>
                                <td class="text-center">
                                    <label class="label label-danger" v-if="(Math.round(Math.abs(parcial_taxes.sums.arancel_especifico_pagar - complete_liquidation_data.arancel_especifico_pagar_pagado)*100)/100) > 0.03"><i class="fa fa-ban"></i> Error</label>
                                    <label class="label label-warning" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.arancel_especifico_pagar - complete_liquidation_data.arancel_especifico_pagar_pagado)*100)/100) <= 0.03 && (Math.round(Math.abs(parcial_taxes.sums.arancel_especifico_pagar - complete_liquidation_data.arancel_especifico_pagar_pagado)*100)/100) > 0.01"><i class="fa fa-warning"> Diferencia</i></label>
                                    <label class="label label-success" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.arancel_especifico_pagar - complete_liquidation_data.arancel_especifico_pagar_pagado)*100)/100) <= 0.01"><i class="fa fa-fa-check-circle"></i> OK </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">FONFINFA</td>
                                <td class="text-right">$ ${ parcial_taxes.sums.fodinfa | money }</td>
                                <td class="text-right">
                                    <input type="number" v-model="complete_liquidation_data.fodinfa_pagado" required="required" step="0.001" />
                                </td>
                                <td class="text-right">
                                    <strong v-bind:class="{ 'text-danger' : (Math.round(Math.abs(parcial_taxes.sums.fodinfa - complete_liquidation_data.fodinfa_pagado)*100)/100) > 0.03 }"> ${ (parcial_taxes.sums.fodinfa -  complete_liquidation_data.fodinfa_pagado) | money }</strong>
                                </td>
                                <td class="text-center">
                                    <label class="label label-danger" v-if="(Math.round(Math.abs(parcial_taxes.sums.fodinfa - complete_liquidation_data.fodinfa_pagado)*100)/100) > 0.03"><i class="fa fa-ban"></i> Error</label>
                                    <label class="label label-warning" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.fodinfa - complete_liquidation_data.fodinfa_pagado)*100)/100) <= 0.03 && (Math.round(Math.abs(parcial_taxes.sums.fodinfa - complete_liquidation_data.fodinfa_pagado)*100)/100) > 0.01"><i class="fa fa-warning"> Diferencia</i></label>
                                    <label class="label label-success" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.fodinfa - complete_liquidation_data.fodinfa_pagado)*100)/100) <= 0.01"><i class="fa fa-fa-check-circle"></i> OK </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">ICE ADVALOREM</td>
                                <td class="text-right">
                                    <input type="number" value="{{ parcial_taxes.sums.ice_advalorem | number_format(3,'.','') }}" readonly="readonly" class="number" name="ice_advalorem" step="0.001" />
                                </td>
                                <td class="text-right">
                                    <input type="number" value="{{ parcial_taxes.sums.ice_advalorem | number_format(3,'.','') }}" name="ice_advalorem_pagado" class="number" id="ice_advalorem_pagado" required="required" step="0.001" />
                                </td>
                                <td class="text-right">
                                    <input type="number" class="number" readonly="readonly" id="diferencia_ice_advalorem_pagado" value="0" step="0.001" />
                                </td>
                                <td class="text-center">
                                    <label for="" class="label label-danger"><i class="fa fa-warning"></i> </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">ICE ESPECIFICO</td>
                                <td class="text-right">
                                    <input type="number" value="{{ parcial_taxes.sums.ice_especifico | number_format(3,'.','') }}" readonly="readonly" name="ice_especifico" class="number" step="0.001" />
                                </td>
                                <td class="text-right">
                                    <input type="number" value="{{ parcial_taxes.sums.ice_especifico | number_format(3,'.','') }}" name="ice_especifico_pagado" id="ice_especifico_pagado" required="required" class="number" step="0.001" />
                                </td>
                                <td class="text-right">
                                    <input type="number" readonly="readonly" class="number" id="diferencia_ice_especifico_pagado" value="0" step="0.001" />
                                </td>
                                <td class="text-center">
                                    <label for="" class="label label-danger"><i class="fa fa-warning"></i> </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">IVA</td>
                                <td class="text-right">
                                    <input type="number" value="{{ parcial_taxes.sums.iva | number_format(3,'.','') }}" readonly="readonly" class="number" name="iva" step="0.001" />
                                </td>
                                <td class="text-right">
                                    <input type="number" class="number" value="{{ parcial_taxes.sums.iva | number_format(3,'.','') }}" name="iva_pagado" id="iva_pagado" required="required" step="0.001" />
                                </td>
                                <td class="text-right">
                                    <input class="number" type="number" readonly="readonly" class="number" id="diferencia_iva_pagado" value="0" step="0.001" />
                                </td>
                                <td class="text-center">
                                    <label for="" class="label label-danger"><i class="fa fa-warning"></i> </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">TOTALES</td>
                                <td class="text-right">
                                    <input type="text" class="text-primary number" value="{{ (
                        parcial_taxes.sums.iva_total - (parcial_taxes.sums.iva_total - parcial_taxes.sums.iva) 
                        + parcial_taxes.sums.ice_advalorem 
                        + parcial_taxes.sums.ice_especifico 
                        + parcial_taxes.sums.fodinfa
                        + parcial_taxes.sums.arancel_advalorem_pagar 
                        + parcial_taxes.sums.arancel_especifico_pagar
                        ) | number_format(3,'.',',') 
                        }}" readonly="readonly" />
                                </td>
                                <td class="text-right">
                                    <input type="text" class="number text-success" value="{{ (
                        parcial_taxes.sums.iva_total - (parcial_taxes.sums.iva_total - parcial_taxes.sums.iva) 
                        + parcial_taxes.sums.ice_advalorem 
                        + parcial_taxes.sums.ice_especifico 
                        + parcial_taxes.sums.fodinfa
                        + parcial_taxes.sums.arancel_advalorem_pagar 
                        + parcial_taxes.sums.arancel_especifico_pagar
                        ) | number_format(3,'.',',') 
                        }}" readonly="readonly" id="autoliquidacion" />
                                </td>
                                <td class="text-right">
                                    <input type="number" class="number text-danger" readonly="readonly" value="0" id="total_diferencias" />
                                </td>
                                <td class="text-center">
                                    <label for="" class="label label-danger"><i class="fa fa-warning"></i> </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="modal-title">
               Detalle de ICE Advalorem pagado por cada item
               </h5>
                            <table class="table table-bordered table-striped table-condensed">
                                <tr>
                                    <th>#</th>
                                    <th>Producto</th>
                                    <th>Cajas</th>
                                    <th>Und Com</th>
                                    <th>Fonfinfa</th>
                                    <th>ICE Adv</th>
                                    <th>ICE Esp</th>
                                    <th>Sts</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>VINO RESERVADO CABERNET SAUVIGNON</td>
                                    <td>200</td>
                                    <td>2400</td>
                                    <td>12.21</td>
                                    <td>
                                        <input name="ice_advalorem_pagado_item1"> </td>
                                    <td>542.35</td>
                                    <td class="text-center">
                                        <label for="" class="label label-danger"><i class="fa fa-warning"></i> </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>VINO TINTO MERLOT RESEVA</td>
                                    <td>300</td>
                                    <td>1800</td>
                                    <td>39.65</td>
                                    <td>
                                        <input name="ice_advalorem_pagado_item1"> </td>
                                    <td>452.24</td>
                                    <td class="text-center">
                                        <label for="" class="label label-success"><i class="fa fa-check-circle"></i> </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="row" style="background-color:#eee;">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Fecha Liquidación:</label>
                                    <input type="text" class="fecha" name="fecha_liquidacion" placeholder="dd/mm/yyyy" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nro de Liquidacion</label>
                                <input type="text" class="number" name="nro_liquidacion" required="required" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12 text-danger">
                            <strong>
               		<i class="fa fa-warning"></i>
               			Uno de los Valores no es el correcto, el margen aceptado es de +-6.00 por liquidación, si decide continuar se enviará una alerta al módulo de costeo
               		</strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary btn-sm">
                        <span class="fa fa-check"></span> Confirmar y continuar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>