<form action="{{rute_url}}facinfdetalle/actualizar" method="post">
	<input type="hidden" name="id_factura_informativa_detalle" value="{{infoInvoiceDetail.id_factura_informativa_detalle}}">
	<input type="hidden" name="detalle_pedido_factura" value="{{infoInvoiceDetail.detalle_pedido_factura}}">
	<input type="hidden" name="id_factura_informativa" value="{{infoInvoiceDetail.id_factura_informativa}}">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2">
			<div class="form-group">
				<label>Grado Alcoholico:</label>
			<input 
				type="number" 
				autofocus="" 
				name="grado_alcoholico" 
				step="0.01" 
				required="" 
				class="form-control" 
				value={{infoInvoiceDetail.grado_alcoholico}}>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label>Cantidad Cajas:</label>
			<input 
				type="number" 
				name="nro_cajas" 
				id="nro_cajas" 
				step="1" 
				required="" " 
				class="form-control"
				value="{{infoInvoiceDetail.nro_cajas}}">
			</div>
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button class="btn btn-sm btn-default" type="submit">
				<span class="fa fa-save"></span>
			Actualizar Registro
		</button>
			&nbsp;&nbsp;&nbsp;
			<a href="{{rute_url}}facinformativa/presentar/{{infoInvoiceDetail.id_factura_informativa}}" class="btn btn-sm btn-warning">
				<span class="fa fa-arrow-left"></span>
				Volver A Factura Informativa
			</a>
		</div>
		<div class="col-md-4"></div>
	</div>
</form>
<script type="text/javascript">
	var productStock = {{productStock | raw}};
	$('#nro_cajas').keyup(function(){
		if (this.value > productStock){
			alert('Valor Exedido, el valor maximo para este producto es ' + productStock + ' cajas' );
			this.value = 0;
		}
	});
</script>