<form action="{{rute_url}}gstinicial/validar" method="post">
<div class="row">
	<div class="col-sm-1">
		<div class="form-group">
			<label>Pedido</label>
			<input 
			type="text" 
			class="form-control" 
			name="nro_pedido"
			value="{{order.nro_pedido}}" 
			readonly="true" 
			>
		</div>
	</div>

	<div class="col-sm-5">
		<div class="form-group">
			<label>Proveedor</label>
			<select
			name = "identificacion_proveedor"
			class = "form-control"
			>
				<option selected="" disabled="">Seleccione...</option>
				{% for supplier in suppliers %}
					<option value = "{{ supplier.identificacion_proveedor }}"> {{supplier.nombre}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="form-group">
			<label>Concepto</label>
			<select
			type="text" 
			class="form-control" 
			id="concepto"
			name="concepto"
			>
			<option disabled="" selected="">Seleccione...</option>
			{% for expense in unusedExpenses %}
				<option value="{{expense.concepto}}">{{expense.concepto}}</option>
			{% endfor %}
		</select>
		</div>
	</div>
<div class="col-sm-2">
		<div class="form-group">
			<label>Fecha (Desde)</label>
			         <div class="input-group">
            <input 
               type="text" 
               class="form-control" 
               id="selector-fecha" 
               required="required" 
               name="fecha" 
               class="bootstrap-datepicker" 
               >
            <div class="input-group-addon">
               <span class="glyphicon glyphicon-th"></span>
            </div>
         </div>
		</div>
	</div>	
</div>

<div class="row">

	<div id="hasta" style="display: none;">
		
	</div>

	<div class="col-sm-2">
		<div class="form-group">
			<label>Provisión (USD)</label>
			<input 
			class="form-control" 
			type="number" 
			step="0.01" 
			name="valor_provisionado"
			>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="form-group">
			<label>Comentarios</label>
			<textarea 
			name="comentarios" 
			id="comentarios" 
			class="form-control"
			rows="1" 
			maxlength="250"></textarea>
		</div>
	</div>
</div>
   <div class="row">
      <div class="col-md-12">
         <hr>
         <button type="submit" class="btn btn-sm btn-default" >
            <span class="fa fa-save fa-fw"></span>
            Guardar Registro
         </button>
      <a href="{{rute_url}}pedido/presentar/{{order.nro_pedido}}" class="btn btn-sm btn-default">
            <span class="fa fa-arrow-left fa-fw"></span>
            Regresar Pedido <b>({{order.nro_pedido}}) </b>
         </a>
      </div>
   </div>
</form>
<script type="text/javascript">

var orderArrived = '{{order.fecha_arribo | date ('m/d/Y') }}';


	$('#comentarios').keyup(function(){
		this.value = this.value.toUpperCase();
	});

	var newInput = `<div class="col-sm-2" id="date_end">
		<div class="form-group">
			<label>Fecha (Hasta)</label>
			 <div class="input-group">
            <input 
               type="text" 
               class="form-control" 
               id="fecha_fin" 
               required="required" 
               name="fecha_fin" 
               class="bootstrap-datepicker" 
               >
            <div class="input-group-addon">
               <span class="glyphicon glyphicon-th"></span>
            </div>
         </div>
		</div>
	</div>
	`
	
	$('#concepto').change(function(){
		if (( $(this).val() === 'ALMACENAJE INICIAL') ||
			   ( $(this).val() === 'ALMACENAJE ALMAGRO') ||
			   ( $(this).val() === 'DEMORAJE')
			  ){

			$('#selector-fecha').val(orderArrived);

			$('#date_end').remove().fadeIn('slow');
			$('#hasta').append(newInput).fadeIn('slow');
			$('#fecha_fin').datepicker({
    			language: "es",
    			daysOfWeekHighlighted: "1"
					});
		}else{
			$('#date_end').remove().fadeIn('slow');
		}	});

</script>

