
<form action="{{rute_url}}facinfdetalle/validar" method="post">
	<input type="hidden" name="id_factura_informativa"
		value="{{infoInvoice.id_factura_informativa}}">
	<div class="row">
		<div class="col-md-12">
			<h3>
				PRODUCTOS DISPONIBLES EN PEDIDO
				{{ order.nro_pedido }}
				<small class="text-info">Seleccione los que desee agregar a
					la Factura Informativa [ {{ infoInvoice.nro_factura_informativa }}
					]
				</small>
			</h3>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			{% for orderInvoice in orderInvoices %}
			<div class="text-tittle">
				Factura Proveedor :
				{{ orderInvoice.supplier.nombre }}
				Nro Factura:
				{{ orderInvoice.id_factura_proveedor }}
			</div>
			<table class="table table-condensed table-hover table-striped">
				<thead>
					<tr>
						<th>Producto</th>
						<th>Gr. Alc.</th>
						<th>Nro Cajas</th>
						<th>Costo</th>
						<th>Agregar</th>
						<th>Nro Cajas</th>
						<th>Gr. Alc</th>
						<th>Costo</th>
					</tr>
				</thead>
				<tbody>
					{% for product in  orderInvoice.products %}
					<tr>
						<td>{{product.producto}}</td>
						<td class="text-right">{{product.grado_alcoholico}}</td>
						<td class="text-right">{{product.stock}}</td>
						<td class="text-right"
							id="costo_caja_{{product.detalle_pedido_factura}}">{{product.costo_caja | number_format(3,".",",")}}</td>
						<td><input type="checkbox" class="text-right"
							name="detalle_pedido_factura-{{product.detalle_pedido_factura}}"
							id="detalle_{{product.detalle_pedido_factura}}"
							value="{{product.detalle_pedido_factura}}">
						</td>
						<td class="text-right"><input type="number" step="1"
							class="text-right" id=nro_cajas_
							{{product.detalle_pedido_factura}}
							name="nro_cajas-{{product.detalle_pedido_factura}}" value="0"
							disabled></td>
						<td class="text-right"><input type="number" step="0.01"
							class="text-right"
							id="grado_alcholico_{{product.detalle_pedido_factura}}"
							name="grado_alcoholico-{{product.detalle_pedido_factura}}"
							value="{{product.grado_alcoholico}}" disabled>
						</td>
						<td><input disabled="" type="text"
							id="valor_item_{{product.detalle_pedido_factura}}" value="0"
							class="text-right"></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<br>
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">&nbsp;</div>

		<div class="col-md-2 text-right">
			<div class="form-group">
				<label> Valor Total</label> <input type="number" id="valor_total"
					disabled="" class="text-right"
					style="color: #a94442; font-weight: bold;">
			</div>
		</div>
		<div class="col-md-2 text-right">
			<div class="form-group">
				<label> Valor M&aacute;ximo</label> <input type="number"
					id="valor_maximo" disabled="" class="text-right"
					style="color: #a94442; font-weight: bold;"
					value="{{infoInvoice.valor}}">
			</div>
		</div>
		<div class="col-md-2 text-right">
			<div class="form-group">
				<label> Diferencia</label> <input type="number"
					id="valor_diferencia" disabled="" class="text-right"
					style="color: #a94442; font-weight: bold;">
			</div>
		</div>
	</div>
	<div class="row">
		<hr>
	</div>
	<div class="row">
		<div class="col-md-4">
			<button type="submit" class="btn btn-default btn-sm">
				<span class="fa fa-plus"></span> Agregar Seleccionados
			</button>
		</div>
		<div class="col-md-5">&nbsp;</div>
		<div class="col-md-2">
			<a
				href="{{rute_url}}facinformativa/presentar/{{infoInvoice.id_factura_informativa}}"
				class="btn btn-sm btn-warning"> <span class="fa fa-cubes"></span>
				Volver a Factura Informativa [{{order.nro_pedido}}]
			</a>
		</div>
	</div>
</form>

<script type="text/javascript">
function calDiferencia(){	
	var a = parseFloat($('#valor_total').val());
	var b = {{ infoInvoice.valor}};
	$('#valor_diferencia').val(b-a);

	if((b-a) > b){
		alert('VALOR DE LA FACTURA EXCEDIDO');
	}
}
</script>

<script type="text/javascript">
    var maxValueInfoInvoice = parseFloat({{ infoInvoice.valor | number_format('4','.') }});
    var stockProducts = {{ (stockProducts | json_encode()) | raw }};
    var currentValInvoice = 0;
    var itemInfoInvoice = [];
</script>

{% for orderInvoice in orderInvoices %}
{% for product in  orderInvoice.products %}
<script type="text/javascript">
			$('#detalle_{{product.detalle_pedido_factura}}').click(function(){
				if($('#detalle_{{product.detalle_pedido_factura}}').prop('checked')){
					$('#nro_cajas_{{product.detalle_pedido_factura}}').prop('disabled',false);
					$('#grado_alcholico_{{product.detalle_pedido_factura}}').prop('disabled',false);
				}else{
					$('#nro_cajas_{{product.detalle_pedido_factura}}').prop('disabled',true);
					$('#grado_alcholico_{{product.detalle_pedido_factura}}').prop('disabled',true);
				}
			});

				$('#nro_cajas_{{product.detalle_pedido_factura}}').keyup(function(){
					if( this.value < 0){
						alert('INGRESE UN VALOR MAYOR A CERO')
						this.value = 0;	
					}else if(this.value > {{ product.stock }}){
						alert('VALOR EXCEDIDO');
						this.value = 0;	
					}
					var costo_caja = $('#costo_caja_{{product.detalle_pedido_factura}}').html();
					var nro_cajas = parseFloat(this.value);
					console.dir(costo_caja);
					console.dir(nro_cajas);
					$('#valor_item_{{product.detalle_pedido_factura}}').val(
						costo_caja * nro_cajas
						);

					currentValInvoice = (costo_caja * nro_cajas);
					actualizarTotal(currentValInvoice);
				});
		</script>
{% endfor %}
{% endfor %}

<script type="text/javascript">

        	function actualizarTotal(value){
        			$('#valor_total').val(currentValInvoice);
        			calDiferencia();
        	}
        	
        	</script>