<form method="post" action="{{rute_url}}pedido/validar">
   <input type="hidden" name="id_pedido" value="{{order.id_pedido}}">
   <div class="row">
      <div class="col-md-2">
         <div class="form-group">
            <label>Nro Pedido</label>
            <input 
               readonly="" 
               name="nro_pedido" 
               class="form-control" 
               value="{{order.nro_pedido}}" 
               >
         </div>
      </div>
      <div class="col-md-2">
         <div class="form-group">
            <label>Régimen</label>
            <select
               class="form-control" 
               required="true" 
               name="regimen"
               >
               <option value="{{order.regimen}}">{{order.regimen}}</option>
               {% if order.regimen == '70' %}
                  <option value="10">10</option>   
               {% else %}
                  <option value="70">70</option>
               {% endif %}
            </select>
         </div>
      </div>
      <div class="col-md-2">
         <label>País Origen</label>
         <select
            id = "pais_origen"
            name = "pais_origen"
            class="form-control"
            >
            <option value="{{order.pais_origen}}" >{{order.pais_origen}}</option>
         </select>
      </div>
      <div class="col-md-2">
         <div class="form-group">
            <label>Ciudad Origen</label>
            <select
               class="form-control"
               id="ciudad_origen"
               name="ciudad_origen"
               >
               <option value="{{order.ciudad_origen}}">{{order.ciudad_origen}}</option>
            </select>
         </div>
      </div>
      <div class="col-md-2">
         <label>Incoterm</label>
         <select
            class="form-control"
            name ="incoterm"
            id ="incoterm"
            >
            <option>{{order.incoterm}}<option>
         </select>
      </div>
      <div class="col-md-2">
         <div class="form-group">
            <label>Referendo</label>
            <input 
               type="text" 
               name = "nro_refrendo"
               id = "nro_refrendo"
               placeholder="000-0000-00-000000"
               class="form-control" 
               maxlength="20" 
               value="{{order.nro_refrendo}}" 
               >
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-2">
         <label>Fecha Arribo </label>
         <div class="input-group">
            <input 
               type="text" 
               class="form-control fecha" 
               id="fecha_arribo" 
               name="fecha_arribo" 
               value="{{order.fecha_arribo | date('d/m/Y')}}" 
               >
                <div class="input-group-addon">
               <span class="glyphicon glyphicon-th"></span>
            </div>
         </div>
      </div>
          <div class="col-md-2">
         <div class="form-group">
            <label>Días Libres En Puerto</label>
            <input 
            class="form-control" 
            type="number" 
            step="1" 
            name="dias_libres"
              value="{{order.dias_libres}}" 
            >
         </div>
      </div>
      <div class="col-md-6">
         <div class="form-group">
            <label>Comentarios</label>
            <textarea 
               rows="1" 
               maxlength="250" 
               class="form-control"
               id="comentarios"
               name="comentarios"
               >{{order.comentarios}}</textarea>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <hr>
         <button type="submit" class="btn btn-sm btn-default" >
            <span class="fa fa-save fa-fw"></span>
            Guardar Registro
         </button>
      <a href="{{rute_url}}pedido/presentar/{{order.nro_pedido}}" class="btn btn-sm btn-default">
            <span class="fa fa-arrow-left fa-fw"></span>
            Volver
         </a>
      </div>
      </form>
   </div>
   <script type="text/javascript">
      var incotermsDb = {{ incoterms | raw }} ;
   </script>

   <script type="text/javascript">
   	 $('#nro_refrendo').mask('999-9999-99-009999999');
   </script>
