{% set saldoEuros  =  (sumsValues.valInvoicesEuros  - sumsValues.infoInvoicesEuros) %}
{% set saldoDolares  =  (sumsValues.valInvoicesDollars  - sumsValues.infoInvoicesDollars) %}
{% set fob = (sumsValues.valInvoices) + (sumsValues.originExpenses * sumsValues.multiple) %}
{% set cif = (fob + sumsValues.valSecureExpense + sumsValues.valSecureExpense + sumsValues.valShipExpnese)  %}
{% set nacionalizado = 0 %}
{% if order.regimen == 70  %}
	{% set nacionalizado = sumsValues.infoInvoices  %}
{% endif %}
<div class="well well-sm">
   <div class="row">
      <div class="col-sm-3">
         <strong>FOB Disponible:</strong>
         <strong class="text-primary">
         $ {{fob | number_format(2,',','.')}}
         </strong>  
      </div>
      <div class="col-sm-2">
         <strong>Parciales Anteriores:</strong>
         <span class="text-primary">
         <strong>{{ olderPartials | number_format(0) }}</strong>
      </div>
      <div class="col-sm-2">
         <strong>
         Nro Pedido:</strong> 
         <span class="text-primary">
         {{ order.nro_pedido }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>
         Regimen:</strong> 
         <span class="text-primary">
         <strong class="text-primary">
         {{ order.regimen  }}
         </strong>   
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         Fecha Registro:</strong> 
         <span class="text-primary">
         {{ order.date_create }}            
         </span>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <strong>Tiempo Almacenera P&uacute;blica:</strong>
         <span class="text-primary">
         {{ warenHouseDays }} días
         </span>
      </div>
      <div class="col-sm-2">
         <strong>P. Origen:</strong> 
         <span class="text-primary">
         {{ order.pais_origen }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>C Origen:</strong> 
         <span class="text-primary">
         {{ order.ciudad_origen  }}            
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Incoterm:</strong> 
         <span class="text-primary">
         {{order.incoterm}}
         </span>         
      </div>
      <div class="col-sm-2">
         <strong>Creado Por:</strong> 
         <span>{{user['nombres']}}
         </span>
      </div>
   </div>
</div>
<br>
<div class="row">
   <div class="col-sm-3">
      &nbsp;
   </div>
   <div class="col-sm-3">
      <h4 class="text-primary">
         <small>Saldo en $:</small>
         <span id="saldo_dolares">
            {{ saldoDolares | number_format(2, '.', ',') }}
         </span>
      </h4>
   </div>
   <div class="col-sm-3">
      <h4 class="text-primary">
         <small>Saldo En &euro;:</small>
         <span id="saldo_euros"> 
            {{ (saldoEuros) | number_format(2, '.', ',')}}
         </span>
      </h4>
   </div>
   <div class="col-sm-3">
      <a href="{{rute_url}}pedido/presentar/{{order.nro_pedido}}" class="btn btn-sm btn-warning">
         <span class="fa fa-arrow-left fa-fw"></span>
         Cancelar y Volver Pedido<b>[{{order.nro_pedido}}]</b>
         </a>
   </div>
</div>
<br>
<form method="post" action="{{rute_url}}facinformativa/validar/">
	<input type="hidden" name="id_factura_informativa" value="{{ infoInvoice.id_factura_informativa }}">
   <div class="row">
      <div class="col-md-1">
         <div class="form-group">
            <label>Pedido</label>
            <input 
               readonly="" 
               type="text" 
               name="nro_pedido"
               class="form-control" 
               value="{{order.nro_pedido}}" 
               >
         </div>
      </div>
      <div class="col-md-3">
         <div class="form-group">
            <label>Proveedor</label>
            <select
               name="identificacion_proveedor"
               class="form-control"
               required = "required"
               >
               <option value="{{supplier.identificacion_proveedor}}"> {{supplier.nombre}} </option>
            </select>
         </div>
      </div>
      <div class="col-md-2">
         <div class="form-group">
            <label>Nro Factura Informativa</label>
            <input 
               type="text" 
               name="nro_factura_informativa"
               class="form-control" 
               autofocus="autofocus" 
               required="required" 
               value="{{ infoInvoice.nro_factura_informativa }}" 
               >
         </div>
      </div>
      <div class="col-md-2">
         <div class="form-group">
            <label>Fecha Emisión</label>
            <div class="input-group">
               <input 
                  type="text" 
                  class="form-control fecha" 
                  id="fecha_emision" 
                  required="required" 
                  name="fecha_emision" 
                  value="{{ infoInvoice.fecha_emision | date('m-d-Y') }}" 
                  >
               <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-2">
         <div class="form-group">
            <label>Seguro Aduana <small><b>USD</b></small>
            </label>
            <input 
               type="number" 
               name="seguro_aduana"
               class="form-control" 
               step="0.01" 
               required="required" 
               value="{{infoInvoice.seguro_aduana }}" 
               >
         </div>
      </div>
      <div class="col-md-2">
         <div class="form-group">
            <label>Felte Aduana <small><b>USD</b></small>
            </label>
            <input 
               type="number" 
               name="flete_aduana"
               class="form-control" 
               step="0.01" 
               required="required" 
               value="{{infoInvoice.flete_aduana}}" 
               >
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-2">
         <div class="form-group">
            <label>Nro Referendo</label>
            <input 
               type="text" 
               name = "nro_refrendo"
               id = "nro_refrendo"
               placeholder="000-0000-00-000000"
               class="form-control" 
               maxlength="20" 
               value="{{infoInvoice.nro_refrendo}}" 
               >
         </div>
      </div>
      <div class="col-md-2">
         <div class="form-group">
            <label>Valor</label>
            <input 
               class="form-control" 
               type="number" 
               name="valor"
               value="{{infoInvoice.valor}}" 
               id="valor"
               step="0.01" 
               required="required" 
               >
         </div>
      </div>
      {% if haveEuros.euros == true %}
      <div class="col-md-2">
         <div class="form-group">
            <label>Moneda</label>
            <select
               name="moneda"
               id="moneda"
               required = "required"
               class="form-control"
               >
               <option value="EUROS">EUROS</option>
               <option value="DOLARES">DOLARES</option>
            </select>
         </div>
      </div>
      <div class="col-md-2">
         <div class="form-group">
            <label>Tipo De Cambio</label>
            <input 
               class="form-control" 
               type="number"
               step="0.000000000001"
               name="tipo_cambio"
               id="tipo_cambio"
               value="{{haveEuros.tipo_cambio}}" 
               required="required" 
               >
         </div>
      </div>
      <div class="col-md-2">
         <div class="form-group">
            <label>Total USD</label>
            <input 
               disabled=""   
               class="form-control"   
               id="total" 
               value="0" 
               style="font-weight: bold; font-size: 14px; color:blue" 
               >
         </div>
      </div>
      {% else %}
      <input type="hidden" name="moneda" value="DOLARES">
      <input type="hidden" name="tipo_cambio" value="1">
      {% endif %}
      <div class="col-md-6">
         <div class="form-group">
            <label>Comentarios</label>
            <textarea name="comentarios" class="form-control" rows="3" id="comentarios">{{infoInvoice.comentarios}}</textarea>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <hr>
         <button type="submit" class="btn btn-sm btn-default" >
         <span class="fa fa-save fa-fw"></span>
         Guardar Registro
         </button>
         <a href="{{rute_url}}facinformativa/presentar/{{infoInvoice.id_factura_informativa}}" class="btn btn-sm btn-default">
         <span class="fa fa-arrow-left fa-fw"></span>
         Volver a la Factura Informativa <b>[{{infoInvoice.id_factura_informativa}}]</b>
         </a>
      </div>
   </div>
</form>
<script type="text/javascript">   
   $('#moneda').change(function(){
     if($(this).val() === 'EUROS'){
       $('#tipo_cambio').removeAttr('readonly');
     }else{
       $('#tipo_cambio').attr('readonly', true);
       $('#tipo_cambio').val(1);
     }
     $('#total').val($('#valor').val() * $('#tipo_cambio').val());  
   });
   
   $('#valor').keyup(function(){
     $('#total').val($('#valor').val() * $('#tipo_cambio').val());  
   })

   $('#tipo_cambio').keyup(function(){
     $('#total').val($('#valor').val() * $('#tipo_cambio').val());   
   });

   //tranformamos a mayusculas los comentarios
   $('#comentarios').keyup(function() {
   this.value = this.value.toUpperCase();
});
</script>

  <script type="text/javascript">
       $('#nro_refrendo').mask('999-9999-99-009999999');
   </script>