        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>

<script type="text/javascript">
  
  var host = '{{base_url}}';
  var httpResult = {};
// Funciones Auxiliares
// Retorna la cantidad de metodos y propiedades de un objeto
    function inspeccionar(obj)
{
  var msg = '';
  for (var property in obj)
  {
    if (typeof obj[property] == 'function')
    {
      var inicio = obj[property].toString().indexOf('function');
      var fin = obj[property].toString().indexOf(')')+1;
      var propertyValue=obj[property].toString().substring(inicio,fin);
      msg +=(typeof obj[property])+' '+property+' : '+propertyValue+' ;\n';
    }
    else if (typeof obj[property] == 'unknown')
    {
      msg += 'unknown '+property+' : unknown ;\n';
    }
    else
    {
      msg +=(typeof obj[property])+' '+property+' : '+obj[property]+' ;\n';
    }
  }
  return msg;
}
</script>

<script type="text/javascript">
  setTimeout(function(){ reloadPage() }, 600000);

	function reloadPage(argument) {
		location.reload();
	}

</script>

<!-- NG APP cordovezApp-->
<script src="{{base_url}}js/lib/angular.min.js"></script>
<script src="{{base_url}}js/lib/angular-route.min.js"></script>
<script src="{{base_url}}js/app/app.js"></script>
<script src="{{base_url}}js/app/pedidos/routes.js"></script>
<script src="{{base_url}}js/app/pedidos/factories.js"></script>
<script src="{{base_url}}js/app/pedidos/directives.js"></script>
<script src="{{base_url}}js/app/pedidos/controllers.js"></script>
<script src="{{base_url}}js/app/pedidos/filters.js"></script>


            <!-- jQuery -->
            <script src="{{base_url}}vendor/jquery/jquery.min.js"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="{{base_url}}vendor/bootstrap/js/bootstrap.min.js"></script>
            <!-- Metis Menu Plugin JavaScript -->
            <script src="{{base_url}}vendor/metisMenu/metisMenu.min.js"></script>
            <!-- Custom Theme JavaScript -->
            <script src="{{base_url}}dist/js/sb-admin-2.js"></script>

            <script type="text/javascript">
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})

</script>
</html>
