</div>
</body>
<!-- NG APP cordovezApp-->
<script src="{{base_url}}js/lib/angular.min.js"></script>
<script src="{{base_url}}js/app/pedidos/app.js"></script>

</script>

<script type="text/javascript">

setTimeout(function(){ reloadPage() }, 200000);

	function reloadPage(argument) {
		location.reload();
	}
</script>
            <!-- jQuery -->
            <script src="{{base_url}}vendor/jquery/jquery.min.js"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="{{base_url}}vendor/bootstrap/js/bootstrap.min.js"></script>
            <!-- Metis Menu Plugin JavaScript -->
            <script src="{{base_url}}vendor/metisMenu/metisMenu.min.js"></script>
            <!-- Custom Theme JavaScript -->
            <script src="{{base_url}}dist/js/sb-admin-2.js"></script>
</html>
