
<div class="row">
	<div class="col-md-3">
		{% if saldoFactura > 0 %}
		    &nbsp;
    <small class="text-danger"> <span class="fa fa-warning"></span> Completar El Detalle De La Factura
    </small>
    <br>
    <br>
		<a
			href="{{ rute_url }}facinfdetalle/nuevo/{{ infoInvoice.id_factura_informativa }}"
			class="btn btn-default btn-sm"> <span class="fa fa-file"></span>
			Agregar Detalle
		</a> 			
		{% endif %}
		{% if saldoFactura < 0 %}
		<h4 class="text-danger" ><span class="fa fa-warning"></span> Factura Inválida, VALORES EXCEDIDOS</h4>  
		{% endif %}
		{% if saldoFactura == 0 %}
		<h4 class="text-succes" ><span class="fa fa-check"></span> Factura Completa</h4>  
		{% endif %}
		<br>
		<br>
	</div>
	<div class="col-md-3 text-right">
		<h4 class="text-primary">
			<small>Val Factura: {{moneda | raw}}</small> <span> {{ infoInvoice.valor | number_format(2,',','.')}}</span>
		</h4>
	</div>
	<div class="col-md-3 text-right">
		<h4 class="text-success">
			<small>Val Justificado: {{ moneda | raw }}</small> <span> {{ valor_justificado | number_format(2,',','.') }}</span>
		</h4>
	</div>
	<div class="col-md-3 text-right">
		<h4 
		{% if saldoFactura > 0 %}
			class="text-success"
		{% endif %}
		{% if saldoFactura < 0 %}
			class ="text-danger"
		{% endif %}
		{% if saldoFactura == 0 %}
		class ="text-success"
		{% endif %}
		class="text-defult"
		>
			<small>Val Pendiente: {{ moneda | raw }}</small> <span> {{ saldoFactura | number_format(2,',','.') }}</span>
		</h4>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Producto</th>
					<th>Capacidad</th>
					<th>Grado A</th>
					<th>Cajas</th>
					<th>Unds</th>
					<th>Costo Caja</th>
					<th>Costo U</th>
					<th>Costo T</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{%  for detail in infoInvoice.details %}		
			<td>{{loop.index}}</td>
				<td> <span class="fa fa-eye"></span> <a href="{{rute_url}}facinfdetalle/presentar/{{detail.id_factura_informativa_detalle}}">
					{{ detail.product.nombre  }}
					</a>
				</td>
			</td>
			<td class="text-right"> {{ detail.product.capacidad_ml }} ml</td>
			<td class="text-right"> {{ detail.grado_alcoholico | number_format(2,',','.')}} %
				<a href="{{rute_url}}facinfdetalle/editar/{{detail.id_factura_informativa_detalle}}">
                    <span class="fa fa-pencil fa-fw"></span>
                    </a> 
			</td>
			<td class="text-right">
				{{ detail.nro_cajas }}
				<a href="{{rute_url}}facinfdetalle/editar/{{detail.id_factura_informativa_detalle}}">
                    <span class="fa fa-pencil fa-fw"></span>
                    </a> 
			</td>
			<td class="text-right">{{ (detail.product.cantidad_x_caja * detail.nro_cajas) | number_format(0,',','.') }}</td>
			<td class="text-right">{{moneda | raw}} {{ detail.oderDetail.costo_caja | number_format(4,',','.')}}</td>
			<td class="text-right"> {{moneda | raw}}{{ (detail.oderDetail.costo_caja / detail.product.cantidad_x_caja) | number_format(2,',','.') }}</td>
			<td class="text-right">
				{{moneda | raw}} {{ ((detail.oderDetail.costo_caja)*(detail.nro_cajas)) | number_format(4,',','.')}}
			</td>
			<td class="text-right">
				 <div class="dropdown">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-default">
                <span class="fa fa-chevron-down" ></span>
                Seleccione
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li><a href="{{rute_url}}facinfdetalle/presentar/{{detail.id_factura_informativa_detalle}}">
                    <span class="fa fa-eye fa-fw"></span>Ver Detalle Factura</a> 
                  </li>
                  <li> <a href="{{rute_url}}facinfdetalle/editar/{{detail.id_factura_informativa_detalle}}">
                    <span class="fa fa-pencil fa-fw"></span>
                    Editar Detalle Factura</a> 
                  </li>
                  <li> <a href="{{rute_url}}producto/presentar/{{detail.product.cod_contable}}" target="_blank">
					<span class="fa fa-eye"></span> Ver Producto
					</a>
                  </li>
                  <li> <a href="{{rute_url}}facinfdetalle/eliminar/{{detail.id_factura_informativa_detalle}}" class="text-danger">
                    <span class="fa fa-trash fa-fw"></span>
                    Eliminar Detalle Factura</a> 
                  </li>
                </ul>
              </div>
			</td>
			</tr>
			{%  endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-9">
	<a href="{{rute_url}}facinformativa/editar/{{infoInvoice.id_factura_informativa}}" class="btn btn-info btn-sm"> 
	 <span class="fa fa-pencil"></span> Editar Cabeceras Facura
	</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="{{rute_url}}facinformativa/eliminar/{{infoInvoice.id_factura_informativa}}" class="btn btn-sm btn-danger"> 
		<span class="fa fa-trash"></span> Eliminar</a>
	</div>
</div>


