<div class="row">
<div class="col-sm-4">
     <span>Proveedor</span>
     <input 
     type="text" 
     readonly="readonly" 
     value="{{ supplier.nombre }}"
     class="full-width"
     />
  </div>  
  <div class="col-sm-1">
     <span>Factura</span> 
     <input 
     type="text" 
     readonly="readonly" 
     value="{{  order_invoices.0.nro_factura }}"
     class="full-width"
     />
  </div>
  <div class="col-sm-2">
     <span>F. Emision</span>
      {% if order_invoices.0.fecha_emision == null or order_invoices.0.fecha_emision == '0000-00-00' %}
      <a  href="{{ rute_url }}pedidofactura/editar/{{order_invoices.0.id_pedido_factura}}" >Registrar</a>
      {% else %}
      <input 
      type="text"
      value="{{ order_invoices.0.fecha_emision | date('d/m/Y') }}"
      readonly="readonly"
      class="full-width" 
      />            
      {% endif %}
  </div>      
  <div class="col-sm-1">
  <span>Moneda</span>
  <input 
  type="text"
  class="full-width text-right"
  readonly="readonly"
  value="{{ order_invoices.0.moneda}}" 
  />
  </div>
  <div class="col-sm-1">
  <span>Valor</span>
  <input 
  type="text"
  class="full-width text-right"
  readonly="readonly"
  value="{{ order_invoices.0.valor | number_format(3,',','.')}}" 
  />
  </div>
  <div class="col-sm-1">
  <span>Tipo C</span>
  <input 
  type="text"
  class="full-width text-right"
  readonly="readonly"
  value="{{ order_invoices.0.tipo_cambio | number_format(3,',','.')}}" 
  />
  </div>
  <div class="col-sm-2">
  <span>Total USD</span>
  <input 
  type="text"
  class="full-width text-right"
  readonly="readonly"
  value="$ {{ (order_invoices.0.valor * order_invoices.0.tipo_cambio) | number_format(3,',','.') }}" 
      />
      </div>
   </div>
   <br />
   <div class="row">
   <div class="col-md-12 text-right">
   
<a href="{{ rute_url }}pedidofactura/presentar/{{ order_invoices.0.id_pedido_factura  }}" class="btn btn-sm btn-default"> <span class="fa fa-eye"></span> Ver Factura</a>
   </div>  
   </div>