<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr style="background-color: #c1c1c1;">
          <th>Campo</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-right"><b>Estado Del Pedido:</b></td>
          {% if order.bg_isclosed == false %}
          <td class="success"> <strong class="text-success">Pedido Activo</strong></td>
          {% else %}
          <td class="danger"><strong class="text-danger">Pedido Cerrado</strong> &nbsp;&nbsp;&nbsp;<small> <span class="fa fa-warning"></span> No puede hacer cambios en este pedido</small></td>
          {% endif %}
        </tr>
        <tr>
          <td class="text-right"><b>Nro Pedido:</b></td>
          <td>{{ order.nro_pedido }}</td>
        </tr>
        <tr>
          <td class="text-right"><b>Regimen:</b></td>
          <td>{{ order.regimen }}</td>
        </tr>
        <tr>
          <td class="text-right"><b>Moneda:</b></td>
          <td> 
            {% if sumsValues.valInvoicesEuros == 0 %}
              DOLARES
            {% else %}
              EUROS
            {% endif %}
           </td>
        </tr>
        <tr>
          <td class="text-right"><b>Tipo de Cambio:</b></td>
          <td> 
            {% if sumsValues.valInvoicesEuros > 0 %}
                1.25
              {% else %}
                  1
            {% endif %}
           </td>
        </tr>
        <tr>
          <td class="text-right"><b>FOB:</b></td>
          <td>{{ order.fob }}</td>
        </tr>
        <tr>
          <td class="text-right"><b>Seguro Aduana:</b></td>
          <td>{{ order.seguro_aduana }}</td>
        </tr>
        <tr>
          <td class="text-right"><b>Flete Aduana:</b></td>
          <td>{{ order.flete_aduana }}</td>
        </tr>
        <tr>
          <td class="text-right"><b>Incoterm:</b></td>
          <td>{{ order.incoterm }}</td>
        </tr>
        <tr>
          <td class="text-right"><b>Puerto de Embarque:</b></td>
          <td>{{ order.ciudad_origen }}</td>
        </tr>
        <tr>
          <td class="text-right"><b>Pais Origen:</b></td>
          <td>{{ order.pais_origen }}</td>
        </tr>
        <tr>
          <td class="text-right"><b>Número Referendo:</b></td>
          <td>{{ order.nro_refrendo }}</td>
        </tr>
        <tr>
          <td class="text-right"><b>Dias Libres (Demoraje):</b></td>
          <td>{{ order.dias_libres }}</td>
        </tr>
        <tr>
          <td class="text-right"><b>Fecha Llegada a Puerto:</b></td>
          {% if order.fecha_arribo == null %}
          <td class="text-danger">Pendiente</td>
          {% else %}
          <td>{{ order.fecha_arribo | date('d/m/Y') }}</td>
          {% endif  %}
        </tr>
        <tr>
          <td class="text-right"><strong>Fecha Salida Bodega Puerto:</strong></td>
          {% if order.fecha_salida_bodega_puerto == null %}
          <td class="text-danger">Pendiente</td>
          {% else %}
          <td> {{ order.fecha_salida_bodega_puerto | date('d/m/Y')}}           </td>
          {% endif %}
        </tr>
         
         {% if order.regimen == 70 %}
        <tr>
          <td class="text-right"><strong>Fecha Llegada Almacenera P&uacute;blica</strong></td>
          {% if order.fecha_ingreso_almacenera == null%}
          <td class="text-danger">Pendiente</td>
          {% else %}
		<td>          {{ order.fecha_ingreso_almacenera | date('d/m/Y') }}</td>
          {% endif %}
        </tr>
        <tr>
          <td class="text-right"><strong>Fecha Salida Almacenera P&uacute;blica</strong></td>
          {%  if order.fecha_salida_almacenera == null %}
          <td class="text-danger">Pendiente</td>
          {% else %}
          <td>{{ order.fecha_salida_almacenera | date('d/m/Y') }}</td>
          {% endif %}
        </tr>
          {% endif %}
        <tr>
          <td class="text-right"><b>Comentarios:</b></td>
          <td>{{ order.comentarios }}</td>
        </tr>
         <tr>
          <td class="text-right"><b>Fecha Cierre Pedido:</b></td>
          <td>{{ order.fecha_cierre }}</td>
        </tr>
         <tr>
          <td class="text-right"><b>:</b></td>
          <td>{{ order.comentarios }}</td>
        </tr>
        <tr>
          <td class="text-right"><b>Creado El:</b></td>
          <td>
            {% if order.date_create != null %}
                {{ order.date_create | date ('d/m/Y H:m') }}
            {% endif %}
            
        </td>
        </tr>
        <tr>
          <td class="text-right"><b>Ultima Actualización:</b></td>
          <td>
            {% if order.last_update != null %}
                {{ order.last_update | date ('d/m/Y H:m') }}
            {% endif %}
            
        </td>
        </tr>
        <tr>
          <td class="text-right"><b>Creado Por:</b></td>
          <td>{{ order.user.nombres }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>