<div class="text-tittle">Provisiones Iniciales Aplicables</div>
   <table class="table table-hover table-condensed table-striped">
      <thead>
         <tr>
            <th>#</th>
            <th>Concepto</th>
            <th>Valor</th>
            <th>Seleccionar</th>
         </tr>
      </thead>
      <tbody>
      	{% if have_initial_warenhouse == False %}
         <tr>
            <td>0</td>
            <td>PROVISION ALMACENAJE INICIAL</td>
            <td>0.00</td>
            <td class="text-center">
               <a href="{{rute_url}}gstinicial/validarbodegainicial/{{order.nro_pedido}}">
    <button class="text-primary">Provisionar</button>
   </a>
            </td>
         </tr>
         {% endif %}
         <form action="{{rute_url}}gstinicial/putInitialExpenses/" method="post">
   <input type="hidden" name="nro_pedido" value="{{order.nro_pedido}}">
         {% for rateExpense in unusedExpenses %}
         <tr>
            <td>{{loop.index}}</td>
            <td>{{rateExpense.concepto}}</td>
            {% if minimal.valuesOrder.statusInvoices == true %}

            {% if rateExpense.concepto == 'POLIZA SEGURO' %}
            <td class="text-success">
               <strong>
               {{minimal.valuesOrder.seguro |number_format(2, '.', ',') }}
               </strong>  
            </td>
            {% endif %}   

            {% if rateExpense.concepto == 'ISD' %}
            <td class="text-success">
               <strong>
               {{minimal.valuesOrder.isd |number_format(2, '.', ',') }}
               </strong>  
            </td>
            {% endif %}

            {% if rateExpense.concepto  == 'TASA DE SERVICIO ADUANERO' %}
            	<td class="text-success">
               <strong>
               {{minimal.valuesOrder.tasa_de_servicio_aduanero |number_format(2, '.', ',') }}
               </strong>  
            </td>
            {% endif %}
            
              {% if rateExpense.concepto  == 'ETIQUETAS FISCALES' %}
               <td class="text-success">
               <strong>
               {{minimal.valuesOrder.etiquetas_fiscales |number_format(2, '.', ',') }}
               </strong>  
            </td>
            {% endif %}


            {% if rateExpense.concepto != 'POLIZA SEGURO' %}
            {% if rateExpense.concepto != 'ISD' %}
            {% if rateExpense.concepto != 'ETIQUETAS FISCALES' %}
            {% if rateExpense.concepto != 'TASA DE SERVICIO ADUANERO' %}
            <td>{{rateExpense.valor |number_format(2, '.', ',') }}</td>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% else %}
            <td>{{rateExpense.valor |number_format(2, '.', ',') }}</td>
            {% endif %}
            <td class="pull-right">
               <label class="control control-checkbox">
               <input
                  type="checkbox" 
                  name="{{ rateExpense.concepto | replace({' ':''})}}" 
                  value="{{rateExpense.id_tarifa_gastos}}"
                  id= "{{rateExpense.id_tarifa_gastos}}"
                  onclick="check({{rateExpense.id_tarifa_gastos}})">
                   <div class="control_indicator"></div>
</label>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   <button
      type= "submit"
      class="btn btn-default btn-sm"
      >
   <span class="fa fa-warning fa-fw"></span>
   Aplicar Gastos Iniciales
   </button>
   <br>
   <br>
</form>

<script type="text/javascript">
   var rates  = {{ unusedExpenses | json_encode() | raw }};  
   
   //Se encarga de comprobar si hay opciones iguales en la lista si las hay las deselecciona
   function check(idItem){
      var item = {};
      var objSeleccionados = [];
      $.each(rates, function(key, value){
         if( parseInt(value.id_tarifa_gastos) === idItem ){
            item = value;
         }
      });

      //Quita el check en caso de que este seleccionados
      $.each(rates, function(key, value){
         if(value.concepto === item.concepto && parseInt(value.id_tarifa_gastos) != idItem){
            $('#'+ value.id_tarifa_gastos).prop('checked', false);
         }
      });
   }   
</script>