<div class="text-tittle">Detalle de Factura Informativa [{{infoInvoice.nro_factura_informativa }}]</div>
<br>
<small class="text-primary">
FACTURAS EN DÓLARES
</small>
<table class="table table-hover table-condensed table-striped">
   <thead>
      <tr>
         <th>#</th>
         <th>Producto</th>
         <th>Cajas</th>
         <th>Valor Caja</th>
         <th>Valor T</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         {% set suma = 0 %}
         {% for detail in infoInvoice.detail %}
            <td>{{loop.index}}</td>
            <td>{{detail.product.nombre}}</td>
            <td>{{detail.nro_cajas}}</td>
            <td>{{detail.detailOrder.costo_caja | number_format(2,',','.')}}</td>
            <td>$ {{(detail.detailOrder.costo_caja * detail.nro_cajas) | number_format(2,',','.')}}</td>
            {% set suma = suma + (detail.detailOrder.costo_caja * detail.nro_cajas) %}
         {% endfor %}
         <tr>
            <td colspan="4" class="text-right"><strong>SUMAS: $</strong></td>
            <td>{{suma | number_format(2,',','.')}}</td>
         </tr>
      </tr>
   </tbody>
</table>
<hr>
