<!-- Tabs -->
<div>
   <ul class="nav nav-tabs" role="tablist" style="padding: 0px; font-size: 10px;">
      <li role="presentation" class="active">
      <a href="#parametros" role="tab" data-toggle="tab" aria-controls="parametros">
      Parámetros Impuestos
      </a>
      </li>
      <li role="presentation">
      	<a href="#prorrateos" role="tab" data-toggle="tab" aria-controls="prorrateos">
      		<span class="fa fa-list"></span> Prorrateos Parcial
      	</a>
      </li>
            <li role="presentation">
      	<a href="#parcial" role="tab" data-toggle="tab" aria-controls="prorrateo_item">
      		<span class="fa fa-archive"></span> Detalle Parcial
      	</a>
      </li>
   </ul>
   <br>
   <div class="tab-content">
      <div role="tabpanel" id="parametros" class="tab-pane active">
      	 {%  if init_data.order.regimen == '10'  %}
      	     {%  include 'forms/frm_params_taxesR10.html.twig'  %}
		 {% else %}      	 
             {%  include 'forms/frm_params_taxes.html.twig'  %}
         {% endif %}
      </div>
      <div role="tabpanel" class="tab-pane" id="prorrateos">
            <div class="col-md-12"; padding:22px">
           {%  if init_data.order.regimen == '10'  %}
           
			{% set gastos_iniciales = 0.0 %}
            <table class="table table-condensed table-striped table-hover" style="font-size:10px">
            <thead>
            <tr>
            <th>Item</th>
            <th>Concepto</th>
            <th>Tipo</th>
            <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            {% for prorrateo in init_data.init_expenses  %}
            {% set gastos_iniciales = gastos_iniciales +  prorrateo.valor_provisionado %}
            </tr>
            <td>{{ loop.index }}</td>
            <td>{{ prorrateo.concepto }}</td>
            {% if prorrateo.tipo == 'prorrateo' %}
            <td>PARCIAL</td>
            {% else %}
            <td>GASTO INICIAL</td>
            {% endif %}
            
            <td class = "text-right">{{ prorrateo.valor_provisionado }}</td>
            </tr>
            {% endfor  %}
              <tr style="background-color:#2E86C1; color:#fff; font-weight:bold;" class="text-right">
            <td colspan="3">Prorrateo Gastos Iniciales</td>
            <td>{{ gastos_iniciales | number_format('2',',','.') }}</td>
            </tr>
            </tbody>
            </table>
           
          {% else %}
                    
           <table class="table table-condensed table-striped table-hover" style="font-size:10px">
            <thead>
            <tr>
            <th>Item</th>
            <th>Concepto</th>
            <th>Tipo</th>
            <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            {% set gastos_parcial = 0  %}
            {% set gastos_iniciales = 0  %}
            {% set gastos_parcial = gastos_parcial +  prorrateos.prorrateo.bodegaje_prorrateado %}
            <tr>
            <td>1</td>
            <td>BODEGAJE PARCIAL</td>
            <td>GASTO PARCIAL</td>
            <td class = "text-right">
            {{ prorrateos.prorrateo.bodegaje_prorrateado | number_format('2',',','.') }}
            </td>
            </tr>
            {% for prorrateo in prorrateos.prorrateo_detail  %}
            </tr>
            {% if prorrateo.tipo == 'prorrateo' %}
                {% set gastos_parcial = gastos_parcial +  prorrateo.valor_prorrateado %}
                <td>{{ loop.index + 1 }}</td>
                <td>{{ prorrateo.concepto }}</td>
                <td>GASTO PARCIAL</td>
                <td class = "text-right">{{ prorrateo.valor_prorrateado | number_format('2',',','.')}}</td>
                </tr>
            {% endif %}
            {% endfor  %}
            <tr style="background-color:#2E86C1; color:#fff; font-weight:bold;" class="text-right">
            <td colspan="3">Total Gastos Parciales</td>
            <td>{{ gastos_parcial | number_format('2',',','.') }}</td>
            </tr>
            </tbody>
            </table>
            
            <table class="table table-condensed table-striped table-hover" style="font-size:10px">
            <thead>
            <tr>
            <th>Item</th>
            <th>Concepto</th>
            <th>Tipo</th>
            <th>Valor</th>
            </tr>
            </thead>
            <tbody>
             {% for prorrateo in prorrateos.prorrateo_detail  %}
            </tr>
            {% if prorrateo.tipo == 'gasto_inicial' %}
            {% set gastos_iniciales = gastos_iniciales +  prorrateo.valor_prorrateado %}
            <td>{{ loop.index }}</td>
            <td>{{ prorrateo.concepto }}</td>
            <td>GASTO INICIAL </td>
            <td class = "text-right">{{ prorrateo.valor_prorrateado | number_format('2',',','.')}}</td>
            </tr>
            {% endif %}
            {% endfor  %}
            <tr style="background-color:#2E86C1; color:#fff; font-weight:bold;" class="text-right">
            <td colspan="3">Prorrateo Gastos Iniciales</td>
            <td>{{ gastos_iniciales | number_format('2',',','.') }}</td>
            </tr>
            </tbody>
            </table>
          {% endif %} 
            </div>
      </div>
      
      <div role="tabpanel" class="tab-pane" id="parcial">
         <div class="col-md-12">
            <table class="table table-condensed table-striped table-hover" style="font-size:10px">
            <thead>
            <tr>
            <th>Item</th>
            <th>Concepto</th>
            <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            </tr>
            <td>1</td>
            <td>Id Parcial/F Registro</td>            
            <td class = "text-right">
            {{ init_data.parcial.id_parcial }}
            /
            <span class="label label-primary">{{ init_data.parcial.date_create }}</span>
            </td>
            </tr>
            <tr>
            <td>2</td>
            <td>Pedido</td>
			<td class = "text-right">{{ init_data.parcial.nro_pedido }}</td>
            </tr>
            <tr>
            <td>3</td>
            <td>Fecha Nacionalización</td>
			<td class = "text-right">{{ init_data.parcial.fecha_nacionalizacion }}</td>
            </tr>
            <tr>
            <td>4</td>
            <td>Fecha Salida Almacenera</td>
			<td class = "text-right">{{ init_data.parcial.fecha_salida_almacenera }}</td>
            </tr>
            <tr>
            <td>5</td>
            <td>Tipo de Cambio Impuestos</td>
			<td class = "text-right">{{ init_data.parcial.tipo_cambio }}</td>
            </tr>
            <tr>
            <td>6</td>
            <td>Toma en cuenta Etiquetas Fiscales</td>
			{% if init_data.parcial.bg_have_etiquetas_fiscales == 1 %}
				<td class = "text-right">
				<span class="label label-success">SI</span>
				</td>
			{% else %}
				<td class = "text-right">
				<span class="label label-danger">NO</span>
				</td>
			{% endif %}
            </tr>
            <tr>
            <td>7</td>
            <td>Exoneracion Arancel Exaduana</td>
			<td class = "text-right">
			    {{ init_data.parcial.exoneracion_arancel }}
			</td>
            </tr>
            <tr>
            <td>8</td>
            <td>Otros Impuestos</td>
			<td class = "text-right">
			    {{ init_data.parcial.otros }}
			</td>
            </tr>
            <tr>
            <td>9</td>
            <td>Creado Por:</td>
			<td class = "text-right">{{ user.username }}</td>
            </tr>
            <tr>
            <td>10</td>
            <td>Observaciobes:</td>
			<td class = "text-right">{{ init_data.parcial.observaciones }}</td>
            </tr>
            </tbody>
            </table>
            </div>            
      </div>
   </div>
</div>
<!-- /Tabs  -->

